@media screen and (max-width: 991px)
	[name="SearchProperties"]
	  > .col-xs-12
	    width: auto

@media screen and (max-width: 850px)
	[name="SearchProperties"]
	  > .col-xs-12
	    width: 100%
	.search_bar
		display: none
		width: 100%
		position: fixed
		top: 50px
	.bar
		margin-right: 0

	.menu-search_btn
		display: inline-block



@media screen and (max-width: 700px)
	.col-pagination
		float: none !important
		padding-top: 5px
		clear: both
		text-align: center
		width: auto
		

		ul.pagination
			overflow-x: auto 
			white-space: nowrap
			> li
				display: inline-block


@media screen and (max-width: 390px)
	.col-xs-12
		width: 100%
		padding-left: 0
		padding-right: 0
	.btn-primary
		width: 100%

	.col-xs-400px	
		width: 100%

	.add_choice,
	.btn-add
		padding-left: 15px

	#form_delete,
	#form_add,
	#form_add_choice,
	.glyphicon-search,
		margin-top: 5px



@media screen and (max-width: 320px)
	span.dash-btn
		display: none

@media screen and (max-width: 150px)
	.topbar
		div:first-child
			padding: 0 15px
			width: 80px
