@import "bourbon"

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
/*==========  Desktop First Method  ==========*/

/* fix it later */
@media screen and (max-width: 991px)
  .company_head p, .logo
    padding-top: 50px
  .company_head p.phone
    margin-top: -30px
  .logo
    padding-top: 0

@media screen and (max-width: 900px)
  .fa-times
    font-size: inherit !important

@media screen and (max-width: 711px)
  .company_head p
    font-size: 30px
    line-height: 40px
    text-align: center
    &.phone
      font-size: 30px
      line-height: 40px
      text-align: center

@media screen and (max-width: 600px)
  .bordercol
    width: 10%
  .col
    width: 13.3333%
  .company_head p
    display: none
    &.phone_min
      display: block

@media screen and (max-width: 400px)
	.col, .bordercol
    	clear: both
	.cart_p
		font-size: 5vw
		
		&::after
			right: -10px