@import "media-admin"
/*reset

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:after, &:before
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box


/*libs

.glyphicon
  position: relative
  display: inline-block
  font-family: 'Glyphicons Halflings'
  font-style: normal
  font-weight: 400
  -webkit-font-smoothing: antialiased
  .glyphicon-btn
    margin-left: auto
    margin-right: auto
    width: 100%
    color: #fff
    font-size: 25px
    margin: 0
    cursor: pointer

.glyphicon-menu-hamburger
  &::before
    content: "\e236"

.glyphicon-search
  &::before
    content: "\e003"

.glyphicon.glyphicon-btn
  margin-left: auto
  margin-right: auto
  width: 100%
  color: #fff
  font-size: 25px

/*common

body
  margin: 0px !important

div
  &.btn-add,
  &.add_choice
    float: right

label.control-label
  font-weight: normal
  &.glyphicon-btn.glyphicon-menu-hamburger::before
    position: absolute
    display: block

input[type="search"]
  -webkit-box-sizing: border-box
  box-sizing: border-box

.table
  margin-bottom: 0px

.table
  margin-bottom: 0
  width: 100%
  max-width: 100%
  > tbody
    > tr
      > td
        padding: 5px
  > thead
    &:first-child
      > tr:first-child
        > th
          border-top: 0
    > tr
      > th
        vertical-align: bottom
        border-bottom: 2px solid #ddd

.table-condensed
  > thead
    > tr
      > th
        padding: 5px

table
  border-spacing: 0
  border-collapse: collapse

th
  text-align: left

.wrap
  width: 100%
  overflow-x: hidden
  margin-top: -20px

.row
  margin-right: 0px

.pagination
  display: block
  margin-top: 0px
  margin-bottom: 0px
  > li
    display: inline
    > a
      position: relative
      float: left
      padding: 6px 12px
      margin-left: -1px
      line-height: 1.42857143
      color: #337ab7
      text-decoration: none
      background-color: #fff
      border: 1px solid #ddd

.list_img
  width: 300px

.well
  min-height: 20px
  padding: 19px
  margin-bottom: 20px
  background-color: #f5f5f5
  border: 1px solid #e3e3e3
  -webkit-border-radius: 4px
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05)
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05)

.nav
  padding-left: 0
  margin-bottom: 0
  list-style: none
  > li 
    position: relative
    display: block

.collapse
  display: none
  .in
    display: block

.col-md-3,
.col-md-4,
.col-md-1,
.col-md-5,
.col-md-2
  float: left


.menu-search_block
  float: right
  width: 80px

.menu-search_btn
  display: none
  &.glyphicon-search::before
    position: absolute

.search_bar
  &.visible
    display: block

/* forms */

form 
  label
    font-style: italic

form
  > .form-group
    > label
      font-size: 14px
      font-style: normal
  .form-control
    display: block
    width: 100%
    height: 34px
    padding: 6px 12px
    font-size: 14px
    line-height: 1.42857143
    color: #555
    background-color: #fff
    background-image: none
    border: 1px solid #ccc
    -webkit-border-radius: 4px
    border-radius: 4px
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out 

.products_collection
  border-radius: 3px
  margin-left: -40px
  margin-bottom: 5px
  li div
    margin-bottom: 5px

.products_collection_label
  font-style: normal
  font-size: 14px

/* topbar

.topbar
  position: fixed
  width: 100%
  height: 54px
  background: #1C86EE
  z-index: 100

/* buttons

.bar
  padding: 3px
  margin-top: 6px
  margin-right: 10px
  float: right !important

.bar-left
  padding: 5px
  margin-left: 10px
  margin-top: 6px
  margin-right: 10px

.btn-primary
  background: #1C86EE
  min-width: 70px
  top: -0.5px
  &:hover
    background: #0066FF
  &:focus
    background: #0066CC
  &:before
    line-height: 8px

.btn-delete
  padding-left: 0px

.btn-add
  padding-left: 0px
  float: right

.add_choice
  float: right
  padding-left: 0px


.rightbar-content
  float: left
  position: relative
  width: 100%
  margin-right: -600px
  z-index: 50
  margin-top: 50px

.footer

.width
  background: #f5f5f5
  border: 1px solid #e3e3e3
  border-radius: 4px
  margin-top: 50px

/*menu button

.menu
  padding: 0px
  margin: 0px
  padding-left: 40px

#menu-btn
  visibility: hidden
  height: 0px
  padding: 0px
  border: 0px


label
  margin-bottom: 0
  &.glyphicon.glyphicon-btn.glyphicon-menu-hamburger:before
    position: absolute
    display: block
  > span.dash-btn
    position: absolute
    line-height: 19.991px
    padding-left: 34px

/* slide collapse

#admin-menu
  float: left

.nav-custom.nav
  width: 220px
  height: 1000px
  > li > a
    padding-left: 55px
    &:hover, &:focus
      background: #EAEAF1

/* search field

#search-query