@import "bourbon"
@import "vars"


body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.6
  font: 14px "RobotoRegular", sans-serif
  margin: 0
  overflow: visible
  float: left
  width: 100%

.hidden
	display: none
#header
  width: 100%
  z-index: 100

.whitewrap
  padding-top: 100px
  width: 100%
  background: #fff
  float: left
  margin-top: -100px
  margin-bottom: 0
  
img
  display: block
  position: relative
  max-width: 100%

.content
  padding: 25px

.content p
  font-family: RobotoRegular !important
  font-size: 1.4em !important
  
  a 
    font-size: 14px
    font-weight: normal 

/************ new 30.05.16 *****

h3
  font-size: 54px !important
  color: #47A3DA !important

.row
  width: 100%
  margin-left: 0 !important

.company_head
  color: #47A3DA
  p
    padding-top: 100px
    font-size: 50px
    line-height: 50px
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
    &.phone
      font-size: 30px
      text-align: left
      margin-top: -80px
      margin-bottom: 92px
    &.phone_min
      display: none
      font-size: 30px
      text-align: center
      margin-top: -50px
      margin-bottom: 30px

.logo
  max-width: 100%
  min-width: 30%
  padding-top: 50px
  margin: 0 auto

/*******************

/************ navbar ******************

.cbp-hsmenu
  text-align: center
  p.fa.fa-shopping-cart
    font-size: 2em !important
    position: relative
    top: 5px
    padding: 0
    margin: 0

.cbp-hssubmenu
  background-color: #f5f5f5
  display: none
  > li a
    background-color: #f5f5f5
    text-align: left !important

.cbp-hsmenu a li ::before
  display: none

.cbp-so-section p
  width: 100%
/******************
 *blueprint top menu slide out
 ****************

/* Main menu wrapper

.cbp-hsmenu-wrapper
  position: relative
  width: 100%
  z-index: 10
  ul
    list-style: none
    padding: 0
    margin: 0 auto

/* Common style for all lists

/* 100% width bar for menu

.cbp-hsinner
  background: #47a3da
  position: relative
  z-index: 100

/* Main menu style

.cbp-hsmenu-wrapper .cbp-hsmenu
  width: 90%
  max-width: 69em
  margin: 0 auto
  padding: 0 1.875em

.cbp-hsmenu > li
  margin-left: 4em
  display: inline-block
  &:first-child
    margin-left: 0
  > a
    color: #fff
    font-size: 1.2em
    line-height: 3em
    display: inline-block
    position: relative
    z-index: 10000
    outline: none

/* Main menu link style

.no-touch .cbp-hsmenu > li > a
  &:hover, &:focus
    color: #02639d

.cbp-hsmenu > li
  &.cbp-hsitem-open
    > a
      color: #02639d
    > a
      &:not(:only-child):before
        content: "\f106"
      &:after
        top: 100%
        border: solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
        pointer-events: none
        border-color: transparent
        border-top-color: #47a3da
        border-width: 10px
        left: 50%
        margin-left: -10px
  > a:not(:only-child):before
    display: none
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    -webkit-font-smoothing: antialiased
    content: "\f107"
    font-size: 80%
    margin-right: 0.3em
    opacity: 0.4
    vertical-align: middle

/* Add an arrow to the main menu link if it has a submenu (not the only child)

/* Add a triangle to currently open menu item link

/* Submenu style

.cbp-hssubmenu
  position: absolute
  left: 0
  top: 100%
  width: 100%
  z-index: 0
  text-align: center
