@import "bourbon"
@import "vars"
@import "media"

//Load Libs SASS


*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:after, &:before
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

body
  overflow: visible

#signbox
  position: fixed
  display: none
  top: 50%
  left: 50%
  margin-top: -110px
  margin-left: -200px
  width: 400px
  height: 220px
  z-index: 120
  opacity: 1 !important
  background: rgba(200, 200, 200, 0.7)
  border-radius: 8px
  border: 1px solid #ccd
  box-shadow: 0 4px 10px #ccd

hr
  width: 80%

.h1
  text-align: left
  margin: 20px 0 -37px 30px
  display: block
  font-weight: 900 !important
  font-size: 25px
  color: white

label
  &.iconforEmail:before
    font-family: FontAwesome
    content: "\f003"
    color: #fff
    position: absolute
    font-size: 14px
    margin-left: -1px
  &.iconforPassword:before
    position: absolute
    font-family: FontAwesome
    content: "\f023"
    color: #fff
    font-size: 17px
    margin-left: 1px
  &.iconforRadio-1:before
    font-family: FontAwesome
    content: "\f111  "
    color: #1C86EE
    left: 50px
    top: 58.4%
    position: absolute
    opacity: 1
  &.iconforRadio-2:before
    font-family: FontAwesome
    content: "\f111  "
    color: #1C86EE
    left: 172px
    top: 58.4%
    opacity: 1
    position: absolute
  &.iconforRadio-1:after
    font-family: FontAwesome
    content: "\f058"
    left: 50px
    top: 58.4%
    opacity: 0
    color: #1C86EE
    position: absolute
  &.iconforRadio-2:after
    font-family: FontAwesome
    content: "\f058"
    left: 172px
    top: 58.4%
    opacity: 0
    color: #1C86EE
    position: absolute

#l1, #l2, #l3, #l4, #l5
  display: inline-block

#l3, #l4
  cursor: pointer

input[type=checkbox]
  visibility: hidden
  &:checked + label
    &:after
      opacity: 0
    &:before
      opacity: 1

#butid
  padding: 8px 25px 0 68%
  margin: -43px 0 0 -4px
  height: 40px
  color: white
  width: 100%
  position: relative

input[type=submit]
  width: 100%
  background: #000
  border-radius: 8px
  box-shadow: 0 0 8px
  margin: 0 auto

.button
  background: #1C86EE
  width: 25%
  height: 20px
  text-decoration: none
  border-radius: 8px
  padding: 10px 25px 10px 25px

#buttonid1
  box-shadow: inset 0 -4px 1px #1F66FF

input
  &[type=email]
    padding: 0
    margin: 0
  &[type=password]
    width: 300px
    padding: 0
    margin: 0
  &[type=text]
    padding: 0
    margin: 0

#error-1, #error-2, #error-3
  color: #D01F25
  font-family: 'Pathway Gothic One', sans-serif
  font-size: 10px
  display: none
  text-align: left

#enter
  visibility: hidden

#SignRow
  width: 100%
  margin: 20px auto 20px auto
  padding: 0 45px 0 32px

#Email
  width: 100%

.wrap
  display: block
  width: 85%
  margin: 0 auto 0 auto

.account
  margin-top: 40px
  margin-bottom: 10px

#mail, #password, #address
  margin-top: 3px
  margin-bottom: 3px
  height: 30px

#SignIn, #SignUp
  width: 10%

#l3, #l4
  width: 30%

#l1, #l2
  height: 13%
  width: 25px
  margin-bottom: -8px
  background: #1C86EE
  padding: 6px
  border-radius: 10px 0 0 10px
  margin-right: -2px
  padding-bottom: 8px

.rememberMe
  padding-right: 55px
  margin-left: 42px
  width: 200px
  height: 270px
  color: white
  z-index: 99999

.rememberMeCheck

label.rememberMe
  &:before
    font-family: FontAwesome
    content: "\f046"
    left: 30px
    z-index: 99999
    opacity: 0
    color: #1C86EE
    position: absolute
  &:after
    font-family: FontAwesome
    content: "\f096"
    left: 30px
    z-index: 99999
    opacity: 1
    color: #1C86EE
    position: absolute

#procent
  background: green
  top: 100%

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:after, &:before
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.6
  font-family: "RobotoRegular", sans-serif
  margin: 0
  overflow: visible
  float: left
  width: 100%

img
  display: block
  position: relative
  max-width: 100%

article
  margin-right: 30px

a
  text-decoration: none
  color: #fff
  font-weight: 700
  font-size: 20px

p.product_card_p
  margin: 0
  font-size: 1.5em
  font-weight: bold
  font-family: RobotoRegular, Helvetica, Arial, FreeSans, Verdana, Tahoma, 'Lucida Sans', 'Lucida Sans Unicode', 'Luxi Sans', sans-serif
  color: #656565

.form-group.form-group
  &_full-view-product
    display: block !important

.pname,
.total_sum
  font-size: 1.4em
  margin-bottom: 0
  &_full-view
    font-size: 1.6em
    padding: 20px 0

.pdesc
  font-family: RobotoRegular
  font-size: 1.4em
  &_full-view
    padding-top: 20px

.pcat
  font-size: 1em
  font-style: italic

  &-green
    color: #4ece7c
  &-black
    color: #6c6262
  &-herbal
    color: #e2d32d

.pprice-cart-container
  text-align: left
  margin-bottom: 20px

.plink,
.pprice
  display: inline-block

.plink
  cursor: pointer

.pprice,
.pcount,
.total_price
  position: relative
  font-size: 1.4em
  font-family: IndieFlower

  &_full-view
    font-size: 2em
    color: #47a3da



.pprice
  &::after
    font-family: u2000
    content: '₽'
    position: absolute
    right: -20px

.cart_container_container
  text-align: center

.cart_container
  width: 16.2%
  
.product-img 
  text-align: center
  border: 20px solid #fff !important

.product-img > img
  display: inline-block

.content p
  font-family: RobotoRegular !important
  font-size: 1.4em !important

.cart_pimage
  max-width: 100%

.order-submit-container
  & input.form-control
    padding-left: 12px

.btn-primary
  background: #1C86EE
  min-width: 70px
  top: -0.5px
  
.cbp-hssubmenu-visible
  display: block

.bold
  font-weight: bold

.imgframe
  margin-top: 134px
  margin-bottom: 70px

