{% extends 'admin.html.twig' %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
{% block title %}
<h3>Create order</h3>
{% endblock %}
{{ form_errors(form) }}
	{{ form_start(form) }}
	{{ form_label(form.products, 'Products', { 'label_attr': {'class': 'products_collection_label'} })}}
		<ul class="products" style="padding-left:0px;" data-prototype="{{ form_widget(form.products.vars.prototype)|e }}">
		{% for product in form.products %}
		<div style="width:108.8%;" class="products_collection">
			<div style="float:left;width:85%;">
			<li style="list-style-type: none;">{{ form_row(product.value, {'label': false})}}</li>
			</div>
			<div style="float:left;width:15%;">
			<li style="list-style-type: none;">{{ form_row(product.amount, {'label': false})}}</li>
			</div>
			</div>	
		{% endfor %}
		</ul>
	{{ form_row(form.total) }}
	{{ form_row(form.discount) }}
	{{ form_row(form.created) }}
	{{ form_row(form.expires) }}
	{{ form_row(form.description) }}
	{{ form_row(form.isActive) }}
	{{ form_end(form) }}
	<br>
	<br>
	<br>
<div>
{% endblock %}