{% extends 'admin.html.twig' %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
<h3> Create product </h3>
{{ form_errors(form) }}
	{{form_start(form)}}
	{{form_row(form.productname)}}
	{{form_row(form.file)}}
	{{form_end(form)}}
<div>
{% endblock %}