{% extends 'admin.html.twig' %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
<h3> Create page </h3>
{{ form_errors(form) }}
	{{form_start(form)}}
	{{form_row(form.pgname)}}
	{{form_row(form.createdBy)}}
	{{form_row(form.pgmeta)}}
	{{form_row(form.pgcontent)}}
	{{form_end(form)}}
<div>
{% endblock %}