{% extends 'admin.html.twig' %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
<h3> Create user </h3>
{{ form_errors(form) }}
	{{form_start(form)}}
	{{form_row(form.username)}}
	{{form_row(form.password)}}
	{{form_row(form.email)}}
	{{form_row(form.fullname)}}
	{{form_row(form.address)}}
	{{form_row(form.phone)}}
	{{form_row(form.isactive)}}
	{{form_row(form.role)}}
	{{form_row(form.file)}}
	{{form_end(form)}}
<div>
{% endblock %}