{% extends 'admin.html.twig' %}

{% block title %}

 {{title}} 

{% endblock %}

{% block request_status %}
	{% if request_status is defined %}
	<div class="col-md-12">
		<h3>{{request_status}}</h3>
	</div>
	{% endif %}
{% endblock %}
{% block content %}
<div class="col-md-12" style="overflow-x:auto;">
{% if pages_found is defined %}
<table class="table table-condensed">
	<thead>
		<tr>
			<th></th>
			<th>Page id</th>				
			<th>Page name</th>	
			<th>Page content</th>	
			<th>Created by</th>	
			<th>Created at</th>	
			<th>Last updated by</th>	
			<th>Last update</th>	
		</tr>
	</thead>
	<tbody>
		{% for page in pages_found %}
		<tr>
			<td>
				<input type="checkbox" class="check_all" name="check_pages[]" value="{{page.id}}" form="wqi12"> 
			</td>
			<td>{{page.id}}</td>
			<td>{{page.pgname}}</td>
			<td>{{page.pgcontent[0:30]}}</td>
			<td>{{page.createdBy}}</td>
			<td>{{page.createdAt|date}}</td>
			<td>{{page.updatedAt|date}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}
{% if users_found is defined %}
<table class="table table-condensed">
	<thead>
		<tr>
			<th></th>
			<th>User id</th>				
			<th>Username</th>	
			<th>Phone</th>	
			<th>Email</th>	
			<th>Fullname</th>	
			<th>Address</th>	
			<th>Role</th>
			<th>Created at</th>
			<th>Active</th>	
			<th>Avatar</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users_found %}
		<tr>
			<td>
				<input type="checkbox" class="check_all" name="check_users[]" value="{{user.id}}" form="wqi12">
			</td> 
			<td>{{user.id}}</td>
			<td>{{user.username}}</td>
			<td>{{user.phone[0:20]}}</td>
			<td>{{user.email}}</td>
			<td>{{user.fullname}}</td>
			<td>{{user.address[0:25]}}</td>
			<td>{{user.role}}</td>
			<td>{{user.created|date("Y-m-d H:i:sP", false)}}</td>
			<td>{{user.isactive}}</td>
			<td>{{user.avpath[0:12]}}</td>
		</tr>
		{% endfor %}
	</tbody>	
</table>
{% endif %}
{% if files_found is defined %}
	<table class="table table-condensed">
		<thead>
			<tr>
				<th></th>
				<th>File id</th>				
				<th>Filename</th>	
				<th>Created</th>	
				<th>Path</th>	
			</tr>
		</thead>
		<tbody>
			{% for file in files_found %}
			<tr>
				<td>
					<input type="checkbox" class="check_all" name="check_files[]" value="{{file.id}}" form="wqi12">
				</td> 
				<td>{{file.id}}</td>
				<td>{{file.filename}}</td>
				<td>{{file.created|date("Y-m-d H:i:sP", false)}}</td>
				<td>{{file.path}}</td>
				<td><img src="{{ asset(file.getWebPath) }}" class="list_img"/></td>
			</tr>
			{% endfor %}
		</tbody>	
	</table>
{% endif %}
{% if products_found is defined %}
	<table class="table table-condensed">
		<thead>
			<tr>
				<th></th>
				<th>Id</th>	
				<th>Product</th>			
				<th>Category</th>
				<th>Description</th>
				<th>In stock</th>
				<th>Price</th>
				<th>Viewed</th>
				<th>Sold</th>
				<th>Gold</th>	
				<th>Created</th>	
				<th>Path</th>	
				<th>Image</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products_found %}
			<tr>
				<td>
					<input type="checkbox" class="check_all" name="check_products[]" value="{{product.id}}" form="wqi12">
				</td> 
				<td>{{product.id}}</td>
				<td>{{product.productname}}</td>
				<td>{{product.category}}</td>
				<td>{{product.description[0:20]}}</td>
				<td>{{product.instock}}</td>
				<td>{{product.price}}</td>
				<td>{{product.viewed}}</td>
				<td>{{product.sold}}</td>
				<td>{{product.gold}}</td>
				<td>{{product.created|date("Y-m-d H:i:sP", false)}}</td>
				<td>{{product.path[0:12]}}</td>
				<td><img src="{{ asset(product.getWebPath) }}" class="list_img"/></td>
			</tr>
			{% endfor %}
		</tbody>	
	</table>
{% endif %}
{% if orders_found is defined %}
<table class="table table-condensed">
	<thead>
		<tr>
			<th></th>
			<th>Order id</th>				
			<th>Products</th>	
			<th>Created</th>	
			<th>Customer</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Discount</th>
			<th>Description</th>
			<th>Active</th>
			<th>Total</th>	
		</tr>
	</thead>
	<tbody>
		{% for order in orders_found %}
		<tr>
			<td>
				<input type="checkbox" class="check_all" name="check_orders[]" value="{{order.id}}" form="wqi12">
			</td> 
			<td>{{order.id}}</td>
			<td>
				{% if orderProducts is defined %}
					{% for product in orderProducts %}
						{% if product.order.id == order.id %}
							{{product.product.productname}} ({{product.amount}}),
						{% endif %}
					{% endfor %}
				{% else %}
						{% for product in order.products %}
							{% if product.order.id == order.id %}
								{{product.product.productname}} ({{product.amount}}),
							{% endif %}
						{% endfor %}
				{% endif %}
			</td>
			<td>{{order.created|date("Y-m-d H:i:sP", false)}}</td>
			<td>{{order.customer.username}}</td>
			<td>{{order.customer.phone}}</td>
			<td>{{order.customer.email}}</td>
			{% if order.discount != null %}
			<td>{{order.discount.name}}</td>
			{% else %}
			<td>none</td>
			{% endif %}
			<td>{{order.description}}</td>
			<td>{{order.isActive}}</td>
			<td>{{order.total}}</td>
		</tr>
		{% endfor %}
	</tbody>	
</table>
{% endif %}
</div>
	<div class="col-md-2">

 <table class="table table-condensed">
 	<tr>
 		<td>
<input type="checkbox" id="check_all" name="check_all"  form="wqi12" onchange="toggleCheckbox(this)">
		</td>
		<td>
		Check all
		</td>
	</tr>
</table>
	</div>
{% endblock %}
{% block bottom %}
<div class="bar-left col-md-12 col-xs-12 well">
{% block botbar %}
{% if entity is defined %}
{{ render(controller('SibneuroSiteBundle:Admin:crudform',
{'incomeentity': entity, 'num': num})) }}
{% else %}
{{ render(controller('SibneuroSiteBundle:Admin:crudform',
{'incomeentity': 'products', 'num': 1})) }}
{% endif %}
{% endblock %}

{% block pagination %}

{{ render(controller('SibneuroSiteBundle:Common:pagination',
 {'paginator': paginator }
 )) }}

{% endblock %}
</div>
{% endblock %}
