<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=yes">
  <meta charset="utf-8">

<title>{{page}}</title>
{% block stylesheets %}
  {% stylesheets 'bundles/sibneurosite/css/*' filter='cssrewrite' %}
      
  <link href="{{ asset('bundles/sibneurosite/css/SignStyles.css') }}" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/awesome/css/font-awesome.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/Codrops/css/cs-skin-elastic.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/Codrops/css/cs-select.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/Codrops/css/normalize.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/TemplateIndex.css') }}"/>

  {% endstylesheets %}
{% endblock %}


  {% javascripts %}
  <script src rel="{{ asset('bundles/sibneurosite/js/jquery.scrollless-master/jquery.scrollless.js') }}"/>
  <script src rel="{{ asset('bundles/sibneurosite/js/jquery-1.11.1.js') }}"/>
  <script src rel="{{ asset('bundles/sibneurosite/js/TemplateIndex.js') }}"/>
  <script src rel="{{ asset('bundles/sibneurosite/js/login.js') }}"/>
  {% endjavascripts %}

</head>
<body>
  <!-- логин -->
    {{script}} 
  <!-- логин -->
  <div class = "whitewrap">  
<div class="header" id="header"> 
    
      <div class="bordercol">

      </div>
      
      <div class="logo">
            <img src = "sibneuro.png">
      </div>

    <a href="{{ path('/project') }}">
      <div class="col" id="Project">  
           О проекте
      </div>
    </a>


    <a href="{{ path('/team') }}" >
      <div class="col" id="Team">
            Команда
      </div>
    </a>
<!-- NEWS? -->
        <a href="{{ path('/contacts') }}" >
      <div class="col" id="Contacts">
            Контакты
      </div> 
    </a>

    <!--<a href="#">
      <div class="col" id="Log">    
             Log in
      </div>
    </a>-->

      <div class="col" id="languageCol">

        <div class="cs-select cs-skin-elastic">
    <section>
    <select class="cs-select cs-skin-elastic">
        
        <option value="" disabled selected >Language</option>

        <option value="russian" data-class="flag-russian">Russian</option>

        <option value="english" data-class="flag-english">English</option>
        
        <option value="german"data-class="flag-german">German</option>
    </select>
    </section>         
      </div>

        </div>
       <!-- {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ path('login') }}" >
        <div class="bordercol" id = "Log">
             Admin
            </div>
          </a>
        {% else %}
        <a href="{{ path('logout') }}" >
        <div class="bordercol" id = "Log">
             Logout
            </div>
          </a>
        {% endif %} -->
        {% if {{islog}} != null %}
         <a href="{{ path('logout') }}" >
        <div class="bordercol" id = "Log">
             Logout
            </div>
          </a>
        {% else %}
         <a href="{{ path('login') }}" >
        <div class="bordercol" id = "Log">
             Admin
            </div>
          </a>
        {% endif %}
      </div>

        {% if error %}
            <div class="error">{{ error.message }}</div>
        {% endif %}
  

<div class="blackout" id="blackout">
   <div class="cs-skin-elastic" id="form0">         
<div class="cs-skin-elastic" id="form">

<div id="signbox">
<form action="{{ path('\login_check') }}" id = "actionform" method="post" height = "50%">
  <!--0.57-->
<div class="h1">Login</div>
<div id="closeTab"></div>
  <div class="account">

    <div class="Login close" id="loginClose"></div>
   
    <div class="row" id="Email">
    <div class="wrap">
      <label id="l1" for="mail"<i class="iconforEmail"></i></label>
      <input type="text" id="mail" name="username_email_input" placeholder=" Email" value="last_username">
    </div>
    </div>
    <div class="row">
    <div class="wrap">
      <label id="l2" for="password" <i class="iconforPassword"></i></label>
      <input type="password" id="password" name="password_input" placeholder=" Password">
    </div>
    </div>
  </div>
        <input type="checkbox" name="remember" id="rememberMeCheck" value="y"   />
        <label class="rememberMe" for="rememberMeCheck">Remember me</label>
        <div class="row">
          <div class="but" id="butid">
            <input type="submit" id="enter"/> 
          <label class="button" for="enter" id="buttonid1">Login</label>
            </div>
        </div>

</form>
</div>  


</div>
</div>
</div>

<div class="content">
              <div class="blackout" id="blackout2">
            </div>
  {% block content %}
  {{content}}
  {% endblock %}

</div>

<div id="footer">
          <div class = "footer1">
          <div class="bordercolbot">
          </div>

           <a href="{{ path('/project') }}">
      <div class="colbot" id="Project">  
            О проекте
      </div>
    </a>


    <a href="{{ path('/team') }}">
      <div class="colbot" id="Team">
            Команда
      </div>
    </a>

        <a href="{{ path('/contects') }}">
      <div class="colbot" id="News">
            Контакты
      </div> 
    </a>
   
   
  <!--    <div class="colbot" id="LogBot">    
             Log in
      </div>-->
    
       <div class="bordercolbot">
          </div>
        
         

           </div>

      <div class="footer2">
        © 2002–2014 ООО «Сибнейро»
      </div>
      
    
  <script src="Codrops/js/classie.js"></script>
    <script src="Codrops/js/selectFx.js"></script>
    <script>
    (function() {
        [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {  
          new SelectFx(el);
        } );
      })();
      
</script>
</div>
</body>
</html>