	{{ form_start(form, {'attr': {'id': "wqi12"}}) }}
	<div class="col-md-3 col-sm-3 col-xs-400px">
	{{ form_widget(form.update, {'attr': {'class': 'btn  btn-primary btn-md'}}) }}
	{{ form_widget(form.delete, {'attr': {'class': 'btn  btn-primary btn-md'}}) }}
	</div>
	<div class="col-md-1 col-sm-2  col-xs-400px btn-add">
	{{ form_row(form.add, {'name': 'add_choise', 'attr': {'id': 'addbtn', 'class': 'btn  btn-primary btn-md'}}) }}
	</div>
	<div class="col-md-2  col-sm-2  col-xs-400px add_choice">
	{{ form_row(form.add_choice, {'attr': {'id': 'add_choice', 'class': ' form-control'}}) }}
	</div>
	{{form_end(form)}}

	
