	{{ form_start(form, {'attr': {'id': "wqi12"}}) }}
	
	<div class="col-md-2 btn-delete">
	{{ form_row(form.delete, {'attr': {'id': 'updatebtn', 'class': 'btn btn-primary btn-md'}}) }}
	</div>
	<div class="col-md-2">
	{{ form_row(form.add_choice, {'attr': {'id': 'add_choice', 'class': 'form-control'}}) }}
	</div>
	<div class="col-md-2">
	{{ form_row(form.add, {'attr': {'id': 'addbtn', 'class': 'class': 'btn btn-primary btn-md'}}) }}
	</div>
	{{form_end(form)}}