<div class="form-group">
{{ form_start(form_search, {'action': path('admin_search'), 'method': 'GET'}) }}
	{{ form_errors(form_search) }}
	<div class="col-md-3 col-xs-12">
	{{ form_widget(form_search.category,  {'attr': {'class': 'form-control'}})}}
	</div>
	<div class="col-md-3 col-xs-12">
	{{ form_widget(form_search.dateString, {'attr': {'class': 'form-control'}})}}
	</div>
	<div class="col-md-4 col-xs-12">
	{{ form_widget(form_search.search, {'attr': {'id': 'search-query', 'class': 'form-control'}}) }}
	</div>
	<div class="col-md-1 col-xs-12">
	{{ form_widget(form_search.submit) }}
	</div>
	
{{ form_end(form_search) }}
</div>