{% block stylesheets %}
  {% stylesheets 'bundles/sibneurosite/css/*' filter='cssrewrite' %}
      
  <link href="{{ asset('bundles/sibneurosite/css/SignStyles.css') }}" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/awesome/css/font-awesome.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/Codrops/css/cs-skin-elastic.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/Codrops/css/cs-select.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/Codrops/css/normalize.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/TemplateIndex.css') }}"/>

  {% endstylesheets %}
{% endblock %}


  {% block javascripts %}
  <link rel="{{ asset('bundles/sibneurosite/js/jquery.scrollless-master/jquery.scrollless.js') }}"/>
  <link rel="{{ asset('bundles/sibneurosite/js/jquery-1.11.1.js') }}"/>
  <link rel="{{ asset('bundles/sibneurosite/js/TemplateIndex.js') }}"/>
   
  {% endblock %}