{% extends 'admin.html.twig' %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
{% block title %}
<h3> {{title}} </h3>
{% endblock %}
{% for form in forms %}
{{ form_errors(form) }}
	{{ form_start(form, {name: users[loop.index0].id }) }}
	{{ form_row(form.c,  {'attr': {value: users[loop.index0].id }}) }}
	{{ form_row(form.username) }}
	{{ form_row(form.password, {'attr': {value: users[loop.index0].password }, 'type': 'text'} ) }}
	{{ form_row(form.email) }}
	{{ form_row(form.fullname) }}
	{{ form_row(form.address) }}
	{{ form_row(form.phone) }}
	{{ form_row(form.isactive) }}
	{{ form_widget(form.role) }}
	{{ form_row(form.file) }}
	{{ form_end(form) }}
	<br>
	<br>
	<br>
	{% endfor %}	
<div>
{% endblock %}