{% extends 'admin.html.twig' %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
{% block title %}
<h3> {{title}} </h3>
{% endblock %}
{% for form in forms %}
{{ form_errors(form) }}
	{{ form_start(form, {name: files[loop.index0].id }) }}
	{{ form_row(form.c,  {'attr': {value: files[loop.index0].id }}) }}
	{{ form_row(form.filename) }}
	{{ form_row(form.file) }}
	{{ form_end(form) }}
	<br>
	<br>
	<br>
	{% endfor %}	
<div>
{% endblock %}