{% extends 'admin.html.twig' %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
{% block title %}
<h3> {{title}} </h3>
{% endblock %}
{% for form in forms %}
{{ form_errors(form) }}
	{{ form_start(form, {name: products[loop.index0].id }) }}
	{{ form_row(form.c,  {'attr': {value: products[loop.index0].id }}) }}
	{{ form_row(form.productname) }}
	<img src={{ asset(products[loop.index0].getWebPath)}} style="max-width:100%; ">
	{{ form_row(form.file) }}
	{{ form_row(form.price) }}
	{{ form_row(form.category) }}
	{{ form_row(form.description) }}
	{{ form_row(form.instock) }}
	{{ form_row(form.viewed) }}
	{{ form_row(form.sold) }}
	{{ form_end(form) }}
	<br>
	<br>
	<br>
	{% endfor %}	
<div>
{% endblock %}