{% extends 'admin.html.twig' %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
{% block title %}
<h3> {{title}} </h3>
{% endblock %}
{% for form in forms %}
{{ form_errors(form) }}
	{{ form_start(form, {name: orders[loop.index0].id }) }}
	{{ form_row(form.c,  {'attr': {value: orders[loop.index0].id }}) }}
	{{ form_row(form.price_list, {'label': false}) }}
	{{ form_label(form.products, 'Products', { 'label_attr': {'class': 'products_collection_label'} })}}
		<ul class="products" style="padding-left:0px;" data-prototype="{{ form_widget(form.products.vars.prototype)|e }}">
		{% for product in form.products %}
		<div style="width:100%; margin-left:0;" class="products_collection">
			<div style="float:left;width:65%;">
			<li style="list-style-type: none;">{{ form_row(product.value, {'label': false})}}</li>
			</div>
			<div style="float:left;width:20%;">
			<li style="list-style-type: none;">{{ form_row(product.price, {'label': false})}}</li>
			</div>
			<div style="float:left;width:15%;">
			<li style="list-style-type: none;">{{ form_row(product.amount, {'label': false})}}</li>
			</div>
			</div>	
		{% endfor %}
		</ul>
	{{ form_row(form.total) }}
	{{ form_row(form.discount) }}
	{{ form_row(form.created) }}
	{{ form_row(form.expires) }}
	{{ form_row(form.description) }}
	{{ form_row(form.isActive) }}
	{{ form_end(form) }}
	<br>
	<br>
	<br>
	{% endfor %}	
<div>
{% endblock %}