{% extends 'admin.html.twig' %}
{% block content %}
<div class="col-md-6 col-md-offset-3 well" style="margin-top: 40px;">
{% block title %}
<div class="col-md-12">
<h3> {{status}} </h3>
</div>
{% endblock %}
{{ form_start(form, {'attr': {'id': "apply/deny"}}) }}
<div class="col-md-7">
{{ form_widget(form.YES)}}
{{ form_widget(form.Cancel)}}
</div>
{{form_end(form)}}
</div>
{% endblock %}
{% block botbar %}
{% endblock %}