{% extends 'common/teastore.html.twig' %}
{% block content %}
	<div class="cart_container_container">
		{% for product in products %}
		<div class="col-7 well cart_container" style="margin-top:20px; margin-right:20px; margin-left:20px; margin-bottom:0px; display: inline-block; position: relative; vertical-align: top;">
			<div class="col-4 height-center" style="margin-right:0px">
				<img class="cart_pimage" src={{ asset(product.getWebPath)}}>
			</div>
			<div class="col-4 height-center">
				<p class="pname pname_full-view">{{product.productname}}</p>
			</div>
			<div class="col-4 height-center" style="margin-left:5%; margin-right:0px;">
				<p class="cart_p pcount pcount_full-view" style="color:#47a3da;">{{count[product.id]}}</p>
			</div>
			<div class="col-4 height-center">
				<p class="cart_p pprice pprice_full-view" style="color:#1C86EE;">{{(product.price * count[product.id])|number_format(2)}}</p>
			</div>
			<i class="fa fa-times" style="position:absolute; color:#1C86EE; cursor:pointer; top:-14px; right: 10px; top: 10px; font-size:30px !important;"></i>
		</div>
		{% endfor %}
	</div>
	<div class="col-7 fixed" style="position: relative; background-color:white; margin-top:20px; padding-right:20px; padding-left:20px; margin-bottom:0px; width: 100%; float: left;">
		<div class="col-40" style="background-color:white;padding-top:10px;">
			<p class="total_sum">Сумма заказа: <span class="total_price pprice" style="color:#1C86EE;">{{total|number_format(2)}}</span></p>
		</div>
		<div class="col-40" style="height:50px;background-color:white;padding-top:10px;">
			{% if discaunt is defined %}
				<p class="total_sum">Скидка: -<span class="discaunt">{{discount}}</span></p>
			{% endif %}
		</div>
		<div class="col-20" style="background-color:white; height:50px;padding-top:10px;">
			{{ form_start(form0) }}
			{{ form_row(form0.next, {'attr': { 'class': 'btn btn-primary btn-md', 'style': 'position: absolute; top: 10px; right: 20px; background: #47a3da; font-size: 1.4em;'}})}}
			{{ form_end(form0)}}
		</div>
	</div>
{% endblock %}
{% block footer %}
{% endblock %}