{% extends 'common/teastore.html.twig' %}
{% block content %}
<style>
	.whitewrap{
	height:1000px;
	}
</style>

<div class="col-md-6 well col-md-offset-3 order-submit-container" style="margin-top:50px;">
{% if is_product == true %}
<p>Пожалуйста, заполните ваши данные, чтобы мы могли с вами связаться</p>
{{ form_start(form1) }}
{{ form_row(form1.username, {'attr': {'class': 'form-control'}})}}
{{ form_row(form1.email, {'attr': {'class': 'form-control'}})}}
{{ form_row(form1.phone, {'attr': {'class': 'form-control'}})}}
{{ form_row(form1.description, {'attr': {'class': 'form-control'}})}}
{{ form_row(form1.submit, {'attr': {'class': 'btn btn-primary btn-md', 'style': 'background: #47a3da; margin-top: 20px;'}}, {'label': 'Оформить заказ'}) }}
{{ form_end(form1) }}
{% else %}
<p> В вашей корзине нет товаров </p>
{% endif %}
</div>


{% endblock %}
