
	{% if products is defined %}
		{% for product in products %}
			<li>
				<div style="text-align: center;">
					<a href = "/tea/{{product.id}}">
						<img src="{{ asset(product.getWebPath) }}">
					</a>
				</div>
			<p class="pname">{{product.productname}}</p>
			{% if product.category == 'Зеленый чай' %}
				<p class="pcat pcat-green">{{product.category}}</p>
			{% endif %}
			{% if product.category == 'Черный чай' %}
				<p class="pcat pcat-black">{{product.category}}</p>
			{% endif %}
			{% if product.category == 'Травяной чай' %}
				<p class="pcat pcat-herbal">{{product.category}}</p>
			{% endif %}
			<div class="pprice-cart-container">
				<a class="plink" href = "/add_to_cart/{{product.id}}">
					<p class="fa fa-shopping-cart"></p>
				</a>
				<p class="pprice">{{product.price}}</p>
				{% if product.instock != true %}
					<p class="in-stock" style="font-style: italic;">Нет в наличии</p>
				{% endif %}
			</div>
			</li>
		{% endfor %}
	{% endif %}