{% extends 'common/teastore.html.twig' %}
{% block content %}
<style>
	.whitewrap{
	height:1000px;
	}
</style>
	<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<div class="img-description">
		<div class="col-md-6 well product-img">
			<img src={{ asset(product.getWebPath)}} style="max-width:100%">
		</div>
		<div class="col-md-6">
			<div class="col-md-12">
			<p class="pname pname_full-view">{{product.productname}}</p>
			</div>
			<div class="col-md-12">
			{% if product.instock == true %}
<div class="form-group form-group_full-view-product">
<p class="product_card_p"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  В наличии</p>
</div>
{% else %}
<div class="form-group form-group_full-view-product">
<p class="product_card_p"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Нет в наличии</p>
</div>
{% endif %}
</div>
						<div class="col-md-12">
{{ form_start(form, {'attr': {'id': "add-to-cart", 'class': "form-inline"}}) }}
<div class="form-group form-group_full-view-product">
<p class="pprice pprice_full-view">{{product.price|number_format(2)}}</p>
</div>
<div class="form-group">
<p class="product_card_p">Количество:</p>
</div>
<div class="form-group">
<label for="form_count" class="sr-only"></label>
{{ form_widget(form.count, {'attr': {'value': 1, 'style': "padding-left:15px; width:70px; font-size:26px; font-family: IndieFlower; color:#47a3da; height:42px; margin-left:5px;"}})}}
</div>
<button type="submit" id="form_add" name="form[add]" class="btn btn-primary btn-md" style="font-size:20px; width:100px; margin-left:5px; background: #47a3da;"><span class="glyphicon glyphicon-shopping-cart"></span></button>
{{form_end(form)}}
</div>
			<div class="col-md-12">
			<p class="pdesc pdesc_full-view">{{product.description}}</p>
			</div>
		</div>
	</div>

{% endblock %}