<!DOCTYPE ntml>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	{% block stylesheets %}
  <link href="{{ asset('bundles/sibneurosite/css/SignStyles.css') }}" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/awesome/css/font-awesome.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/Codrops/css/cs-skin-elastic.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/Codrops/css/cs-select.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/Codrops/css/normalize.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/TemplateIndex.css') }}"/>

  {% endblock %}
  {% block javascripts %}
  <link  type="text/javascript" href="{{ asset('bundles/sibneurosite/js/jquery.scrollless-master/jquery.scrollless.js') }}"/>
  <link  type="text/javascript" href="{{ asset('bundles/sibneurosite/js/jquery-1.11.1.js') }}"/>
  <link  type="text/javascript" href="{{ asset('bundles/sibneurosite/js/TemplateIndex.js') }}"/>
  {% endblock %}

	<title>Sibneuro</title>
	</head>
	  <body>
        




       
   <div class="whitewrap">
		<div class="header" id="header"> 
		
			<div class="bordercol">

			</div>
      
			<div class="logo">
            <img src="{{ asset('bundles/sibneurosite/images/sibneuro.png') }}" />
			</div>

		 <a href="{{ path('common_showmainpage', {'page': 'Project'}) }}">
			<div class="col" id="Project">	
           О проекте
			</div>
		</a>


		<a href="{{ path('common_showmainpage', {'page': 'Team'}) }}">
			<div class="col" id="Team">
	          Команда
			</div>
		</a>

       <a href="{{ path('common_showmainpage', {'page': 'Contacts'}) }}">
			<div class="col" id="News">
            Контакты
			</div> 
		</a>

		<!--<a href="#">
			<div class="col" id="Log">		
             Log in
			</div>
		</a>-->

		<!--	<div class="col" id="languageCol">

				<div class="cs-select cs-skin-elastic">
    <section>
    <select class="cs-select cs-skin-elastic">
        
        <option value="" disabled selected >Language</option>

        <option value="russian" data-class="flag-russian">Russian</option>

        <option value="english" data-class="flag-english">English</option>
        
        <option value="german"data-class="flag-german">German</option>
    </select>
    </section>         
			</div>

        </div>-->
        <div class="bordercol">
            </div>
      </div>

</div>
  <div class="blackout" id="blackout">
   <div class="cs-skin-elastic" id="form0">         
<div class="cs-skin-elastic" id="form">

<div id="signbox">

  <!--0.57-->
<div class="h1">Login</div>
<div id="closeTab"></div>
  <div class="account">

    <div class="Login close" id="loginClose"></div>
   
    <div class="row" id="Email">
    <div class="wrap">
      <label id="l1" for="mail"<i class="iconforEmail"></i></label>
      <input type="email" id="mail" placeholder=" Email">
      <label id="error-1">Invalid email address</label>
    </div>
    </div>
    <div class="row">
    <div class="wrap">
      <label id="l2" for="password" <i class="iconforPassword"></i></label>
      <input type="password" id="password" placeholder=" Password">
      <label id="error-2">You can only use latin characters and digits</label>
    </div>
    </div>
  </div>
        <input type="checkbox" id="rememberMeCheck" value="None"   />
        <label class="rememberMe" for="rememberMeCheck">Remember me</label>
        <div class="row">
          <div class="but" id="butid">
            <input type="submit" id="enter"/> 
          <label class="button" for="enter" id="buttonid1">Login</label>
            </div>
        </div>


</div>  


</div>
</div>
</div>










       <div class="main" id="main">
        
         





       	    <div class="content" id="content">
              <div class="blackout" id="blackout2">
            </div>
            {% block content %}
            {% endblock %}

       	    </div>
     
       <div id="footer">
          <div class = "footer1">
          <div class="bordercolbot">
          </div>

           <a href="{{ path('common_showmainpage', {'page': 'Project'}) }}">
      <div class="colbot" id="Project">  
            О проекте
      </div>
    </a>


    <a href="{{ path('common_showmainpage', {'page': 'Team'}) }}">
      <div class="colbot" id="Team">
            Команда
      </div>
    </a>

       <a href="{{ path('common_showmainpage', {'page': 'Contacts'}) }}">
      <div class="colbot" id="News">
            Контакты
      </div> 
    </a>
   
   
  <!--    <div class="colbot" id="LogBot">    
             Log in
      </div>-->
    
       <div class="bordercolbot">
          </div>
        
         

           </div>

      <div class="footer2">
        © 2002–2014 ООО «Сибнейро»
      </div>
      
   	
  
		
		<script>
		(function() {
				[].slice.call( document.querySelectorAll( "select.cs-select") ).forEach( function(el) {	
					new SelectFx(el);
				} );
			})();
			
</script>

</div>
<script>



			function login(){
        var element = document.getElementById("signbox");
      function offsetPosition(element) {

    var offsetLeft = 0, offsetTop = 0;

    do {

        offsetLeft += element.offsetLeft;

        offsetTop  += element.offsetTop;

    } while (element = element.offsetParent);

    return [offsetLeft, offsetTop];

}


				  document.body.style.overflow = "hidden";	
        document.getElementById('signbox').style.display = "block";
				
        document.getElementById('blackout').style.display = "block";
        document.getElementById('content').style.color = "rgba(0, 0, 0, 0.3)";
        /*анимация формы*/
        document.getElementById("form").id = "form2";
			  document.getElementById("error-1").style.display = "none";
		   	document.getElementById("error-2").style.display = "none";
        document.getElementById("mail").value = "";
        document.getElementById("password").value = "";
        }        
   
            /*анимация кнопки формы*/
//window.getComputedStyle(document.getElementById("l3"), ":after")
        
      document.getElementById("Log").onclick = login;
      document.getElementById("LogBot").onclick = login;
      
      document.getElementById("closeTab").onclick = function(){
        document.getElementById("blackout").style.display = "none";
        document.getElementById("content").style.color = "black";
        
        document.body.style.overflow = "visible";
        document.getElementById("form2").id = "form";
      
      }
      document.getElementById("buttonid1").onmouseover = function(){
      document.getElementById("butid").style.margin = "-40px 0 0 -4px";
      document.getElementById("butid").style.transition = "margin 0.2s";
      




      }
      document.getElementById("buttonid1").onmouseout = function(){
        document.getElementById("butid").style.margin = "-43px 0 0 -4px";
        document.getElementById("butid").style.transition = "margin 0.2s";
        document.getElementById("buttonid1").style.boxShadow = "inset 0 -4px 1px #1F66FF";
        
       
        


      }
       document.getElementById("buttonid1").onmousedown = function(){
       document.getElementById("buttonid1").style.boxShadow = "inset 0 0 0 60px #1F66FF";
       document.getElementById("buttonid1").style.transition = "box-shadow 0.2s";





       }
       document.getElementById("buttonid1").onmouseup = function(){
       document.getElementById("buttonid1").style.boxShadow = "inset 0 -4px 1px #1F66FF";
       document.getElementById("buttonid1").style.transition = "box-shadow 0.2s";
     }
    
     
		</script>

   
  </body>




  </html>


