{% extends 'common/teastore.html.twig' %}
{% block content %}
<div class="col-md-12">
<p class="advert well" style="margin-top:70px;font-size:24px;">Ваш заказ принят, ожидайте звонка</p>
</div>
{% endblock %}
{% block footer %}
{% endblock %}