<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	{% block stylesheets %}
  <link href="{{ asset('bundles/sibneurosite/css/SignStyles.css') }}" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/awesome/css/font-awesome.min.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/Codrops/css/cs-skin-elastic.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/Codrops/css/cs-select.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/Codrops/css/normalize.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/TemplateIndex.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/blueprint.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/bootstrap/css/bootstrap.min.css') }}"/>
  {% endblock %}
       
 {% block javascipts %}
  {% javascripts '@SibneuroSiteBundle/Resources/public/js'%}
         <script type="text/javascript" src="{{ asset('bundles/sibneurosite/js/modernizr.custom.js') }}"></script>
         <script type="text/javascript" src="{{ asset('bundles/sibneurosite/js/cbpScroller.js') }}"></script>
         <script type="text/javascript" src="{{ asset('bundles/sibneurosite/js/classie.js') }}"></script>
         <script type="text/javascript" src="{{ asset('bundles/sibneurosite/js/cbpHorizontalSlideOutMenu.min.js') }}"></script>
         <script type="text/javascript" src="{{ asset('bundles/sibneurosite/js/three.js') }}"></script>
         <script type="text/javascript" src="{{ asset('bundles/sibneurosite/js/OrbitControls.js') }}"></script>
         <script type="text/javascript" src="{{ asset('bundles/sibneurosite/js/SceneUtils.js') }}"></script>
         
         


	<title>Чай для настроения</title>
	</head>
	  <body>
   <div class="whitewrap">
		<div class="header" id="header" > 
		  
        <nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper" >
            <div class="cbp-hsinner">
              <ul class="cbp-hsmenu">
                
                <li><a href="#">Главная</a></li>
                
                <li><a href="#">О нас</a></li>
                <li>
                    <a href="#">Каталог</a>
                      <ul class="cbp-hssubmenu">
                          {{ render(controller('SibneuroSiteBundle:common:catalog')) }}
                      </ul>
                </li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Статьи</a></li>
              </ul>
            </div>
        </nav>
    </div>
      {% block content %}

       {{ content|raw }}
  
      {% endblock %}

      <div class="footer2">
        © 2014-2015 ООО «Чай для настроения»
      </div>
      
<script>new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
      var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper' ) );</script>
    {% endjavascripts %}
  {% endblock %}
  </body>

  </html>


