<div class="col-md-5 col-sm-5 col-xs-5 col-md-offset-1 col-pagination">
	
	{% set current = num %}
	
 		 <ul class="pagination">
 		 	<li><a href="{{ path(route, {'num': prev, 'entity': entity }) }}">«</a></li>
 		 	{% if j > 8 %}
				{% for x in 0..7 %}
						{% if current == i %}
    			<li class="active"><a href="#">{{i}}</a></li>
    					{% else %}
    					{% set num = i %}
    			<li><a href="{{ path(route, {'num': num, 'entity': entity}) }}">{{i}}</a></li>
    					{% endif %}
    					{% set i = i + 1 %}
				{% endfor %}
			{% else %}
				{% for x in 1..j %}
						{% if current == i %}
    			<li class="active"><a href="#">{{i}}</a></li>
    					{% else %}
    					{% set num = i %}
    			<li><a href="{{ path(route, {'num': num, 'entity': entity}) }}">{{i}}</a></li>
    		            {% endif %}
			            {% set i = i + 1 %}
		        {% endfor %}
			{% endif %}
			<li><a href="{{ path(route, {'num': next, 'entity': entity}) }}">»</a></li>
		</ul>
	
	</div>