<div class="col-md-5 col-sm-5 col-xs-5 col-md-offset-1 col-pagination">
	
	{% set current = num %}
	
 		 <ul class="pagination">
 		 	<li><a href="{{ path(route, {'num': prev, 'category': prop.category, 
    			'dateString': prop.dateString, 'search': prop.search }) }}">«</a></li>
 		 	{% if j > 9 %}
				{% for x in 0..9 %}
						{% if current == i %}
    			<li class="active"><a href="#">{{i}}</a></li>
    					{% else %}
    					{% set num = i %}
    					{% if prop is empty %}
    			<li><a href="{{ path(route, {'num': num, 'entity': entity}) }}">{{i}}</a></li>
    					{% endif %}
    					{% if route == 'admin_search' %}
    			<li><a href="{{ path(route, {'num': num, 'category': prop.category, 
    			'dateString': prop.dateString, 'search': prop.search}) }}">{{i}}</a></li>
    					{% endif %}
    					{% endif %}
    					{% set i = i + 1 %}
				{% endfor %}
			{% else %}
				{% for x in 1..j %}
						{% if current == i %}
    			<li class="active"><a href="#">{{i}}</a></li>
    					{% else %}
    					{% set num = i %}
    			{% if prop is empty %}
    			<li><a href="{{ path(route, {'num': num, 'entity': entity}) }}">{{i}}</a></li>
    					{% endif %}
    					{% if route == 'admin_search' %}
    			<li><a href="{{ path(route, {'num': num, 'category': prop.category, 
    			'dateString': prop.dateString, 'search': prop.search}) }}">{{i}}</a></li>
    					{% endif %}
    		            {% endif %}
			            {% set i = i + 1 %}
		        {% endfor %}
			{% endif %}
			<li><a href="{{ path(route, {'num': next, 'category': prop.category, 
    			'dateString': prop.dateString, 'search': prop.search}) }}">»</a></li>
		</ul>
	
	</div>