<!DOCTYPE ntml>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	{% block stylesheets %}
  <link href="{{ asset('bundles/sibneurosite/css/SignStyles.css') }}" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/awesome/css/font-awesome.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/Codrops/css/cs-skin-elastic.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/Codrops/css/cs-select.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/Codrops/css/normalize.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/bootstrap/css/bootstrap.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/Templateindex.css') }}"/>
  {% endblock %}
  

	<title></title>
	</head>
	  <body>
    <div col-md-12 style="z-index:10000; position:absolute">
              <p>Ваш заказ отправлен. Мы свяжемся с вами в течение 30 минут. Соберите головоломку раньше и получите скидку 10% на все товары!</p>
              <button class="btn btn-danger" onclick="scramble(i,v);">Смешать</button>
      </div>
     







{% block javascipts %}
  
         <script type="text/javascript" src="{{ asset('bundles/sibneurosite/js/three.min.js') }}"></script>
         <script type="text/javascript" src="{{ asset('bundles/sibneurosite/js/OrbitControls.js') }}"></script>
     <script>

          var scene, camera, renderer;
          var group = new THREE.Object3D();
          var proc = false; // no asynchronous processing
          var rot = 0;
          var angle = -6*Math.PI/180;
          var code = 0;
          var target = 0;
          var num = 0; // number of cube in rotating plane
          var temprx = []; // for coordinate changing
          var tempry = [];
          var temprz = [];
          var controlArrows = [];
          var key = [66,82,76,70,85,68];
          var i = 0;
          var v = 0;
          var time = 0;
          container = document.createElement('div');
          container.id = "can";

          document.body.appendChild(container);
    
          camera = new THREE.PerspectiveCamera(70,window.innerWidth/window.innerHeight,0.1,1000000);
          camera.position.set(600,500,300);
          

          scene  = new THREE.Scene();
          scene.add(camera);

           var cube_geo = new THREE.BoxGeometry(90,90,90);
          var cube_texture = new THREE.MeshFaceMaterial( [
                    new THREE.MeshPhongMaterial({color: 0xffff00}),
                     new THREE.MeshLambertMaterial({color: 0xffffff}),
                      new THREE.MeshPhongMaterial({color: 0xff0000}),
                       new THREE.MeshPhongMaterial({color: 0xff4b10}),
                        new THREE.MeshPhongMaterial({color: 0x00ff00}),
                         new THREE.MeshPhongMaterial({color: 0x0000ff}) ]);
          var cube_instance = new THREE.Mesh( cube_geo, cube_texture );
            
                  var cube = cube_instance.clone();
                  cube.position.set(-100,-100,-100);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(0,-100,-100);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(100,-100,-100);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(-100,0,-100);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(0,0,-100);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(100,0,-100);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(-100,100,-100);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(0,100,-100);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(100,100,-100);
                  scene.add(cube);

                  var cube = cube_instance.clone();
                  cube.position.set(-100,-100,0);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(0,-100,0);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(100,-100,0);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(-100,0,0);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(0,0,0);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(100,0,0);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(-100,100,0);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(0,100,0);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(100,100,0);
                  scene.add(cube);

                  var cube = cube_instance.clone();
                  cube.position.set(-100,-100,100);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(0,-100,100);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(100,-100,100);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(-100,0,100);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(0,0,100);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(100,0,100);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(-100,100,100);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(0,100,100);
                  scene.add(cube);
                  var cube = cube_instance.clone();
                  cube.position.set(100,100,100);
                  scene.add(cube);

                  

          document.documentElement.addEventListener("keydown", function(event){
            main(event);
          }
          );
          window.addEventListener('resize', function(){
            renderer.setSize(window.innerWidth, window.innerHeight);
            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();
          });
          
          var light = new THREE.PointLight( 0xffffff);
          light.position.set(600,500,300);
          scene.add( light );

                  renderer = new THREE.WebGLRenderer( { alpha: true, antialias: true } );

          renderer.setSize(window.innerWidth, window.innerHeight);
          renderer.shadowMapType = THREE.PCFSoftShadowMap;
          container.appendChild(renderer.domElement);

          controls =  new THREE.OrbitControls(camera, renderer.domElement);

          controlslight =  new THREE.OrbitControls(light, renderer.domElement);
           
          drawContols();

          animate();
          scramble(i);
          function animate(){
            requestAnimationFrame(animate);
            for(var u = 0;u<6;u++)
            controlArrows[u].lookAt(camera.position);
            switch(rot){
              case "R":
                
              //console.log("1");
                  group.rotateOnAxis(new THREE.Vector3(1,0,0), angle);
                  for(var j = 0;j<9;j++){
                  console.log("RROT")
                  console.log(group.children[j].rotation.x);
                  console.log(group.children[j].rotation.y);
                  console.log(group.children[j].rotation.z);
                }
                if( -group.rotation.x >= 0.5 * Math.PI){ // rotation of 1 turn is = 0.25 * 2 pi radians
                   planeNumbersCount(rot); // now we have group childrens with numbers in our rotation plane
                   for(var i = 0;i<9;i++){ // coordinates offset on 90 degrees == 2 cube positions of coordinate swap
                      if(group.children[i].userData.num + 2 <= 7)
                          num = group.children[i].userData.num + 2;
                      else if(group.children[i].userData.num + 2 == 8)
                          num = 0;
                      else if(group.children[i].userData.num + 2 == 9)
                          num = 1;
                      else if(group.children[i].userData.num == undefined)
                          num = null;
                    for(var p = 0;p<9;p++)
                        if(num == group.children[p].userData.num){
                          console.log(num);
                          console.log(i);
                            temprx[i] = group.children[p].position.x;
                            tempry[i] = group.children[p].position.y;
                            temprz[i] = group.children[p].position.z;
                        }
                  }
                  rot = 0;
                  Detach();
                 num = 0;
                 group.rotation.x = 0;
                 proc = false;
              }
                break;
              case "L":
                   group.rotateOnAxis(new THREE.Vector3(-1,0,0), angle);
                   for(var j = 0;j<9;j++){
                  console.log("LROT")
                  console.log(group.children[j].rotation.x);
                  console.log(group.children[j].rotation.y);
                  console.log(group.children[j].rotation.z);
                }
              if( group.rotation.x >= 0.5 * Math.PI){ // rotation of 1 turn is = 0.25 * 2 pi radians
                   planeNumbersCount(rot); // now we have group childrens with numbers in our rotation plane
                   for(var i = 0;i<9;i++){ // coordinates offset on 90 degrees == 2 cube positions of coordinate swap
                      if(group.children[i].userData.num + 2 <= 7)
                          num = group.children[i].userData.num + 2;
                      else if(group.children[i].userData.num + 2 == 8)
                          num = 0;
                      else if(group.children[i].userData.num + 2 == 9)
                          num = 1;
                      else if(group.children[i].userData.num == undefined)
                          num = null;
                    for(var p = 0;p<9;p++)
                        if(num == group.children[p].userData.num){
                          console.log(num);
                          console.log(i);
                            temprx[i] = group.children[p].position.x;
                            tempry[i] = group.children[p].position.y;
                            temprz[i] = group.children[p].position.z;
                            console.log(temprx,tempry,temprz);
                            
                        }
                  }
                  rot = 0;
                  Detach();
                 num = undefined;
                 group.rotation.x = 0;
                 proc = false;
              }
                break;
              case "F":
              console.log("F animate");
              console.log(group.rotation.y);
               group.rotateOnAxis(new THREE.Vector3(0,0,1), angle);
               for(var j = 0;j<9;j++){
                  console.log("FROT")
                  console.log(group.children[j].rotation.x);
                  console.log(group.children[j].rotation.y);
                  console.log(group.children[j].rotation.z);
                }
                if( -group.rotation.z >= 0.5 * Math.PI){ // rotation of 1 turn is = 0.25 * 2 pi radians

                   planeNumbersCount(rot); // now we have group childrens with numbers in our rotation plane
                   for(var i = 0;i<9;i++){ // coordinates offset on 90 degrees == 2 cube positions of coordinate swap
                      if(group.children[i].userData.num + 2 <= 7)
                          num = group.children[i].userData.num + 2;
                      else if(group.children[i].userData.num + 2 == 8)
                          num = 0;
                      else if(group.children[i].userData.num + 2 == 9)
                          num = 1;
                      else if(group.children[i].userData.num == undefined)
                          num = null;
                    for(var p = 0;p<9;p++)
                        if(num == group.children[p].userData.num){
                          console.log(num);
                          console.log(group.children[p].position.y);
                          console.log(i);
                            temprx[i] = group.children[p].position.x;
                            tempry[i] = group.children[p].position.y;
                            temprz[i] = group.children[p].position.z;
                            console.log(temprx,tempry,temprz);
                            
                        }


                  }

                  rot = 0;
                  Detach();
                 num = undefined;
                 group.rotation.z = 0;
                 proc = false;
              }
                break;
              case "B":
               group.rotateOnAxis(new THREE.Vector3(0,0,-1), angle);
               for(var j = 0;j<9;j++){
                  console.log(group.children[j].rotation.x);
                  console.log(group.children[j].rotation.y);
                  console.log(group.children[j].rotation.z);
                }
               if( group.rotation.z >= 0.5 * Math.PI){ // rotation of 1 turn is = 0.25 * 2 pi radians
                   planeNumbersCount(rot); // now we have group childrens with numbers in our rotation plane
                   for(var i = 0;i<9;i++){ // coordinates offset on 90 degrees == 2 cube positions of coordinate swap
                      if(group.children[i].userData.num + 2 <= 7)
                          num = group.children[i].userData.num + 2;
                      else if(group.children[i].userData.num + 2 == 8)
                          num = 0;
                      else if(group.children[i].userData.num + 2 == 9)
                          num = 1;
                      else if(group.children[i].userData.num == undefined)
                          num = null;
                    for(var p = 0;p<9;p++)
                        if(num == group.children[p].userData.num){
                          console.log(num);
                          console.log(i);
                            temprx[i] = group.children[p].position.x;
                            tempry[i] = group.children[p].position.y;
                            temprz[i] = group.children[p].position.z;
                            console.log(temprx,tempry,temprz);
                            
                        }


                  }

                  rot = 0;
                  Detach();
                 num = undefined;
                 group.rotation.z = 0;
                 proc = false;
              }
                break;
              case "U":
              alert(group.rotation.y);
               group.rotateOnAxis(new THREE.Vector3(0,1,0), angle);
                for(var j = 0;j<9;j++){
                  console.log(group.children[j].rotation.x);
                  console.log(group.children[j].rotation.y);
                  console.log(group.children[j].rotation.z);
                }

               if( -group.rotation.y >= 0.5 * Math.PI){ // rotation of 1 turn is = 0.25 * 2 pi radians
                   planeNumbersCount(rot); // now we have group childrens with numbers in our rotation plane
                   for(var i = 0;i<9;i++){ // coordinates offset on 90 degrees == 2 cube positions of coordinate swap
                    console.log(group.children[i].position.x,group.children[i].position.y,group.children[i].position.z);
                      if(group.children[i].userData.num + 2 <= 7)
                          num = group.children[i].userData.num + 2;
                      else if(group.children[i].userData.num + 2 == 8)
                          num = 0;
                      else if(group.children[i].userData.num + 2 == 9)
                          num = 1;
                      else if(group.children[i].userData.num == undefined)
                          num = null;
                    for(var p = 0;p<9;p++)
                        if(num == group.children[p].userData.num){
                          console.log(num);
                          console.log(i);
                            temprx[i] = group.children[p].position.x;
                            tempry[i] = group.children[p].position.y;
                            temprz[i] = group.children[p].position.z;
                            console.log(temprx,tempry,temprz);
                            
                        }


                  }

                  rot = 0;
                  Detach();
                 num = undefined;
                 group.rotation.y = 0;
                 proc = false;
              }
                break;
              case "D":
               group.rotateOnAxis(new THREE.Vector3(0,-1,0), angle);
               for(var j = 0;j<9;j++){
                  console.log(group.children[j].rotation.x);
                  console.log(group.children[j].rotation.y);
                  console.log(group.children[j].rotation.z);
                }
               if( group.rotation.y >= 0.5 * Math.PI){ // rotation of 1 turn is = 0.25 * 2 pi radians
                   planeNumbersCount(rot); // now we have group childrens with numbers in our rotation plane
                   for(var i = 0;i<9;i++){ // coordinates offset on 90 degrees == 2 cube positions of coordinate swap
                      if(group.children[i].userData.num + 2 <= 7)
                          num = group.children[i].userData.num + 2;
                      else if(group.children[i].userData.num + 2 == 8)
                          num = 0;
                      else if(group.children[i].userData.num + 2 == 9)
                          num = 1;
                      else if(group.children[i].userData.num == undefined)
                          num = null;
                    for(var p = 0;p<9;p++)
                        if(num == group.children[p].userData.num){
                          console.log(num);
                          console.log(group.children[p].position.y);
                          console.log(i);
                            temprx[i] = group.children[p].position.x;
                            tempry[i] = group.children[p].position.y;
                            temprz[i] = group.children[p].position.z;
                            console.log(temprx,tempry,temprz);
                            
                        }


                  }

                  rot = 0;
                  Detach();
                 num = undefined;
                 group.rotation.y = 0;
                 proc = false;
              }
                break;
      }

            
            renderer.render(scene,camera);
            controls.update();
            controlslight.update();
            
          }



  function planeNumbersCount(arg){
            var globalfunction;
            var tempx = 0;
            var tempy = 0;
            var tempz = 0;
            switch(arg){
              case "R":
              
              for(var u = 0;u<9;u++){
                          console.log(group.children[u].position.x);
                          console.log(group.children[u].position.y);
                          console.log(group.children[u].position.z);
                        if(group.children[u].position.x == group.children[u].position.y && group.children[u].position.z == 100){
                          
                          group.children[u].userData.num = 0;
                          tempx = group.children[u].position.x;
                          tempy = group.children[u].position.y;
                          tempz = group.children[u].position.z;
                      }
                     }
                     
                      tempz -=100;
                      console.log(tempx,tempy,tempz);
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.z == tempz && group.children[t].position.y == tempy){
                          console.log(group.children[t].position);
                            group.children[t].userData.num = 1;
                          break;
                        }
                        }
                      
                      tempz -=100;
                      console.log(tempx,tempy,tempz);
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.z == tempz && group.children[t].position.y == tempy){
                          console.log(group.children[t].position);
                            group.children[t].userData.num = 2;
                          break;
                        }
                        }
                        
                      tempy -=100;
                      console.log(tempx,tempy,tempz);
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.z == tempz && group.children[t].position.y == tempy){
                          console.log(group.children[t].position);
                            group.children[t].userData.num = 3;
                          break;
                        }
                        }
                        
                      tempy -=100;
                      console.log(tempx,tempy,tempz);
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.z == tempz && group.children[t].position.y == tempy){
                          console.log(group.children[t].position);
                            group.children[t].userData.num = 4;
                          break;
                        }
                      }
                      
                      tempz +=100;
                      console.log(tempx,tempy,tempz);
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.z == tempz && group.children[t].position.y == tempy){
                          console.log(group.children[t].position);
                            group.children[t].userData.num = 5;
                          break;
                        }
                        }
                        
                      tempz +=100;
                      console.log(tempx,tempy,tempz);
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.z == tempz && group.children[t].position.y == tempy){
                          console.log(group.children[t].position);
                            group.children[t].userData.num = 6;
                          break;
                        }
                        }
                      tempy +=100;
                      console.log(tempx,tempy,tempz);
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.z == tempz && group.children[t].position.y == tempy){
                          console.log(group.children[t].position);
                            group.children[t].userData.num = 7;
                        break;
                      }
                     }
                     for(var i = 0; i<9; i++) {
                     console.log(group.children[i].userData.num);
                   }
              case "L":
                  for(var u = 0;u<9;u++){
                        if(group.children[u].position.x == group.children[u].position.y && group.children[u].position.z == 100){

                          group.children[u].userData.num = 0;
                          tempx = group.children[u].position.x;
                          tempy = group.children[u].position.y;
                          tempz = group.children[u].position.z;
                          }
                        }
                          tempz -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.z == tempz && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 1;
                          break;
                        }
                        }
                      tempz -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.z == tempz && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 2;
                          break;
                        }
                        }
                      tempy +=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.z == tempz && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 3;
                          break;
                        }
                        }
                      tempy +=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.z == tempz && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 4;
                          break;
                        }
                        }
                      tempz +=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.z == tempz && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 5;
                          break;
                        }
                        }
                      tempz +=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.z == tempz && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 6;
                          break;
                        }
                        }
                      tempy -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.z == tempz && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 7;
                          break;
                        }
                       }
                     break;
              case "F":
              console.log("F");
                  for(var u = 0;u<9;u++){
                    console.log(group.children[u].position.x);
                          console.log(group.children[u].position.y);
                          console.log(group.children[u].position.z);
                        if(group.children[u].position.x == group.children[u].position.z && group.children[u].position.y == 100){
                           
                          group.children[u].userData.num = 0;
                          tempx = group.children[u].position.x;
                          tempy = group.children[u].position.y;
                          tempz = group.children[u].position.z;
                        }
                      }
                      tempy -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 1;
                          break;
                        }
                        }
                      tempy -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 2;
                          break;
                        }
                        }
                      tempx -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 3;
                          break;
                        }
                        }
                      tempx -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 4;
                          break;
                        }
                        }
                      tempy +=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 5;
                          break;
                        }
                        }
                      tempy +=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 6;
                          break;
                        }
                        }
                      tempx +=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 7;
                        break;
                      }
                      }
                     break;
               case "B":
                  for(var u = 0;u<9;u++){
                        if(group.children[u].position.x == group.children[u].position.z && group.children[u].position.y == 100){
                          group.children[u].userData.num = 0;
                          tempx = group.children[u].position.x;
                          tempy = group.children[u].position.y;
                          tempz = group.children[u].position.z;
                        }
                      }
                          tempy -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 1;
                          break;
                        }
                        }
                      tempy -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 2;
                          break;
                        }
                        }
                      tempx +=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 3;
                          break;
                        }
                        }
                      tempx +=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 4;
                          break;
                        }
                        }
                      tempy +=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 5;
                          break;
                        }
                        }
                      tempy +=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 6;
                          break;
                        }
                        }
                      tempx -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.y == tempy){
                            group.children[t].userData.num = 7;
                          break;
                        }
                        }
                     break;
              case "U":
                 for(var u = 0;u<9;u++){
                        if(group.children[u].position.x == group.children[u].position.y && group.children[u].position.z == 100){
                          group.children[u].userData.num = 0;
                          tempx = group.children[u].position.x;
                          tempy = group.children[u].position.y;
                          tempz = group.children[u].position.z;
                            }
                          }
                      tempx -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.z == tempz){
                            group.children[t].userData.num = 1;
                          break;
                        }
                        }
                      tempx -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.z == tempz){
                            group.children[t].userData.num = 2;
                          break;
                        }
                        }
                      tempz -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.z == tempz){
                            group.children[t].userData.num = 3;
                          break;
                        }
                        }
                      tempz -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.z == tempz){
                            group.children[t].userData.num = 4;
                          break;
                        }
                        }
                      tempx +=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.z == tempz){
                            group.children[t].userData.num = 5;
                          break;
                        }
                        }
                      tempx +=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.z == tempz){
                            group.children[t].userData.num = 6;
                          break;
                        }
                        }
                      tempz +=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.z == tempz){
                            group.children[t].userData.num = 7;
                      break;
                    }
                    }
                     break;
              case "D":
              for(var u = 0;u<9;u++){
                        if(group.children[u].position.x == group.children[u].position.y && group.children[u].position.z == 100){
                          group.children[u].userData.num = 0;
                          tempx = group.children[u].position.x;
                          tempy = group.children[u].position.y;
                          tempz = group.children[u].position.z;
                        }
                      }
                          tempx +=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.z == tempz){
                            group.children[t].userData.num = 1;
                          break;
                        }
                        }
                      tempx +=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.z == tempz){
                            group.children[t].userData.num = 2;
                          break;
                        }
                        }
                      tempz -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.z == tempz){
                            group.children[t].userData.num = 3;
                          break;
                        }
                        }
                      tempz -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.z == tempz){
                            group.children[t].userData.num = 4;
                          break;
                        }
                        }
                      tempx -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.z == tempz){
                            group.children[t].userData.num = 5;
                          break;
                        }
                        }
                      tempx -=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.z == tempz){
                            group.children[t].userData.num = 6;
                          break;
                        }
                        }
                      tempz +=100;
                    for(var t = 0;t<9;t++){
                        if(group.children[t].position.x == tempx && group.children[t].position.z == tempz){
                            group.children[t].userData.num = 7;
                          break;
                        }
                        }
                     break;
       }  // switch

                          tempx = 0;
                          tempy = 0;
                          tempz = 0;

   }  //function
          function scramble(i){
            if(i == 0)
              time = new Date();
            alert(i);
            if(i<25){
                code = Math.round(Math.random() * 5);
                 main(undefined, key[code]);
               i++;
           setTimeout(function(){setTimeout(scramble(i), 50);}, 300);
          }
      else
        return 0;
  }

          function main(event, code){
            alert("Main");
            if(proc == false){
              if(event)
              var arg = event.keyCode;
            else {
              var arg = code;
              angle = -9*Math.PI/180 + 0.000003;
            }
              alert(arg);
            switch(arg){
              case 82: //R
                  proc = true;
                   rot = "R";
                  for(var i = 0, v = 9;v>0;i++){
                  
                    if(scene.children[i].position.x == 100){

                        v--;
                       THREE.SceneUtils.attach(scene.children[i], scene, group);
                       i--;
                     }
                  }
                  
                  scene.add(group);
                  break;
              case 76: //L
                    proc = true;
              rot = "L";
                   for(var i = 0, v = 9;v>0;i++){
                  
                    if(scene.children[i].position.x == -100){

                        v--;
                       THREE.SceneUtils.attach(scene.children[i], scene, group);
                       i--;
                     }
                  }
                  scene.add(group);
                  break;
              case 70: //F
                    proc = true;
              console.log("F rot");
              rot = "F";
                    for(var i = 0, v = 9;v>0;i++){
                    if(scene.children[i].position.z == 100){
                       
                        v--;
                       console.log(scene.children[i].position.y);
                       THREE.SceneUtils.attach(scene.children[i], scene, group);
                        console.log(group.children[0].position.y);
                       i--;
                     }
                  }
                  for(var y = 0;y<9;y++)
                      console.log(group.children[y].position.y);
                  scene.add(group);
                  break;
              case 66: //B
                      proc = true;
              rot = "B";
                     for(var i = 0, v = 9;v>0;i++){
                  
                    if(scene.children[i].position.z == -100){

                        v--;
                       THREE.SceneUtils.attach(scene.children[i], scene, group);
                       i--;
                     }
                  }
                  scene.add(group);
                  break;
              case 85: //U
                      proc = true;
              rot = "U";
                     for(var i = 0, v = 9;v>0;i++){
                  
                    if(scene.children[i].position.y == 100){

                        v--;
                       THREE.SceneUtils.attach(scene.children[i], scene, group);
                       i--;
                     }
                  }
                  scene.add(group);
                  break;
              case 68: //D
                      proc = true;
              rot = "D";
                    for(var i = 0, v = 9;v>0;i++){
                  
                    if(scene.children[i].position.y == -100){

                      v--;
                       THREE.SceneUtils.attach(scene.children[i], scene, group);
                      i--;
                     }
                  }
                  scene.add(group);
                  break;
            }
          }
                  code = 0;
          }
          function drawContols(){
              text =["Right","Left","Front","Back","Up","Down"];
              var canvas = [];
              var context = 0;
              var texture = 0;
              var material = 0;
              for(var y = 0;y<6;y++){
                  canvas[y] = document.createElement('canvas');
                  context = canvas[y].getContext('2d');
                  context.font = "Bold 40px Impact";
                  context.fillStyle = "rgba(255,0,0,0.95)";
                  context.fillText(text[y], 0, 50);
                  texture = new THREE.Texture(canvas[y]);
                  material = new THREE.MeshBasicMaterial( {map: texture, side:THREE.DoubleSide } );
                  material.transparent = true;
                  texture.needsUpdate = true;
                  controlArrows[y] = new THREE.Mesh(
                        new THREE.PlaneGeometry(canvas[y].width, canvas[y].height), material);
              }
              controlArrows[0].position.set(500,0,0);
              controlArrows[1].position.set(-500,0,0);
              controlArrows[2].position.set(0,0,500);
              controlArrows[3].position.set(0,0,-500);
              controlArrows[4].position.set(0,500,0);
              controlArrows[5].position.set(0,-500,0);
              for(var u = 0;u<6;u++){
                scene.add(controlArrows[u]);
                controlArrows[u].lookAt(camera.position);
                controlArrows[u].needsUpdate = true;
              }
              
             
           
          }

          function Detach(){
            for(var u = 0, j = 27;u<9 && j<36;u++,j++){
                     console.log("Input " + group.children[0].position.x);
                 THREE.SceneUtils.detach(group.children[0],group,scene);  
                      scene.children[j].position.x = temprx[u];
                      scene.children[j].position.y = tempry[u];
                      scene.children[j].position.z = temprz[u];
                 console.log(u + " Output " + scene.children[j].position.x);
                 var x = scene.children[j].rotation.x;
                  var y = scene.children[j].rotation.y;
                  var z = scene.children[j].rotation.z;

                          if(z > 0 && z < 1 || z < 0 && z > -1){ 
                    scene.children[j].rotation.z = 0;
                  }
                  if(z > -1.6 && z < -1 || z < -1.6 && z > -2 ){
                    scene.children[j].rotation.z = -Math.PI/2;
                    }
                  if(z < 1.6 && z > 1 || z > 1.6 && z < 2 ){
                    scene.children[j].rotation.z = Math.PI/2;
                    }
                    if(z < -3.14 && z > -4 || z > -3.14 && z < -2 ){
                        scene.children[j].rotation.z = Math.PI;
                      }
                  if(z >  3.14 && z< 4 || z < 3.14 && z > 2.5 ){
                        scene.children[j].rotation.z = Math.PI;
                      }
                 if(x > 0 && x < 1 || x < 0 && x > -1){ // delete rotation offset in local plane
                        scene.children[j].rotation.x = 0;
                      }
                  if(x > -1.6 && x < -1 || x < -1.6 && x > -2 ){
                        scene.children[j].rotation.x = -Math.PI/2;
                      }
                  if(x < 1.6 && x > 1 || x > 1.6 && x < 2){
                    scene.children[j].rotation.x = Math.PI/2;
                  } 
                  if(x < -3.14 && x > -4 || x > -3.14 && x < -2 ){
                        scene.children[j].rotation.x = Math.PI;
                      }
                  if(x >  3.14 && x < 4 || x < 3.14 && x > 2.5 ){

                        scene.children[j].rotation.x = Math.PI;
                      }
                if(y > 0 && y < 1 || y < 0 && y > -1){ // delete rotation offset in local plane
                        scene.children[j].rotation.y = 0;
                      }
                  if(y > -1.6 && y < -1 || y < -1.6 && y > -2 ){
                        scene.children[j].rotation.y = -Math.PI/2;
                      }
                  if(y < 1.6 && y > 1 || y > 1.6 && y < 2){
                    scene.children[j].rotation.y = Math.PI/2;
                  } 
                  if(y < -3.14 && y > -4 || y > -3.14 && y < -2 ){
                        scene.children[j].rotation.y = Math.PI;
                      }
                  if(y >  3.14 && y < 4 || y < 3.14 && y > 2.5 ){
                        scene.children[j].rotation.y = Math.PI;
                      }


               }

          }













































        </script> 
        <script>
//           var scene, camera, renderer;
//           var group = new THREE.Object3D();
//           var leaf = new THREE.Object3D();
//           var clock = new THREE.Clock;
//           var loader = new THREE.JSONLoader();
//           clock.start();
//           var temp = [];
//           container = document.createElement('div');
//           container.id = "can";
//           document.body.appendChild(container);

//           camera = new THREE.PerspectiveCamera(70,window.innerWidth/window.innerHeight,0.1,1000000);
//           camera.position.z = 5000;
//           camera.position.y = 0;
//           camera.position.x = 0;
//           scene  = new THREE.Scene();


          

          
          

//                   renderer = new THREE.WebGLRenderer( { alpha: true } );
            
//           renderer.setSize(window.innerWidth, window.innerHeight);
//           container.appendChild(renderer.domElement);
//           animate();
//           function animate(){
//             requestAnimationFrame(animate);
            
            

//           //   var cube_geo = new THREE.BoxGeometry(50,50,50);
//           // var cube_text = new THREE.MeshNormalMaterial();
//               loader.load(
//                     "{{ asset('bundles/sibneurosite/js/three.js.models/parrot.js') }}",
//                     function( geometry, materials ) {
//                       var material = new THREE.MeshNormalMaterial( materials );
//                       leaf = new THREE.Mesh( geometry, material );   
                          
//                     }
//                 );
                
//                 for(var i=0;i<1 && group.children.length<1;i++){
//                   console.log(group.children.length);
//                      var newleaf = leaf.clone();
//                     newleaf.position.x = Math.random()*1000-500;
//                     newleaf.position.y = Math.random()*1000 -500;
//                     newleaf.position.z = Math.random()*1000 - -2000; 
//                     group.add(newleaf);
//                   }
//                   scene.add(group);
               
// for(var i = 0;i<group.children.length;i++){
//   var rand = Math.floor(Math.random() * 100);
//   if(temp[rand] === undefined){
//   var obj = {};
//   obj.count = rand;
//   obj.xrot = Math.random() * 0.009 + 0.001;
//   obj.yrot = Math.random() * 0.009 + 0.001;
//   obj.zrot = Math.random() * 0.009 + 0.001;
//   obj.xmove = Math.random() * 5    + 3;
//   obj.lifetime = new THREE.Clock;
//   obj.lifetime.start();
//   obj.maxlifetime = 200/obj.xmove;
//   temp[rand] = obj;

//               }
//               else{
//                 if(temp[i]){
//             group.children[i].rotation.x += temp[i].xrot;           
//             group.children[i].rotation.y += temp[i].yrot;
//             group.children[i].rotation.z += temp[i].zrot;
            
//             group.children[i].position.z += temp[i].xmove;
            
//           }
//           }
//       }

//             //if(clock.getElapsedTime() > 20)
//              for(var u = 0;u<group.children.length;u++){
//                 if(temp[u]&&temp[u].lifetime.getElapsedTime() >= temp[u].maxlifetime){
//                   temp[u].lifetime.stop();
//                   temp.splice(u, 1);
//                 THREE.SceneUtils.detach( group.children[u], group, scene);
//              while (scene.children.length > 1) {
//             scene.remove(scene.children[scene.children.length - 1]);
//                   }
//               }
//            }
         
            
//             renderer.render(scene,camera);
            
            
//           }


















































        </script> 
  {% endblock %}

    
  </body>




  </html>


