{% if products is defined %}
<div class="grey_wrap">
	{% for product in products %}
		<div class="col-3">
			<a href="/catalog/{{product.id}}">
			<img src="{{ asset(product.getWebPath) }}" class="list_img"/>
			</a>
			<a href="/add_to_cart/{{product.id}}">
			<p class="fa fa-shopping-cart"></p><p class="price">177.00</p>
			</a>
			<p class="descr">{{product.productname}}</p>
			</div>
	{% endfor %}
</div>
{% endif %}