*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.wrap{
	width:100%;
	overflow-x:hidden;
	margin-top:-20px;
}
.row{
	margin-right:0px;
}
.topbar{
		
	width: 100%;
	height: 54px;
	background: #1C86EE; 
	
}


.rightbar-content{
	float:left;
	padding-left:30px; 
	position:static;
	width:100%;
	margin-right:-300px;
}
.botbar{
	float:left;
	padding-left:30px;
	position:static;
	width:100%;
	margin-right:-300px;

}
.footer{

}

.width{
	
}




/*menu button*/
.menu{
	padding:0px;
	margin: 0px;
	padding-left:40px;
}
#menu-btn{
	visibility hidden;
	height: 0px;
	padding:0px;
	border: 0px;
}
.glyphicon.glyphicon-btn{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	color:#fff;
	font-size:25px;
	/*line-height: 53.991px;*/
	margin:0px;
	cursor: pointer;
}

label.glyphicon.glyphicon-btn.glyphicon-menu-hamburger:before{
	position: absolute;
	display: block;

}
label>span.dash-btn{
	position:absolute;
	line-height: 19.991px;
	padding-left: 34px;
}
/* slide collapse */

#admin-menu{
	background:#D7D7D7;
	float:left;
}
.nav-custom.nav{
	width:300px;
	height:1000px;
}
.nav-custom.nav>li>a{
	padding-left:55px;
}
.nav-custom.nav>li>a:hover, .nav-custom.nav>li>a:focus {
    background: #BEBEBE;  

    
   } 
/* search field */
#search-query {
	
}
