*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
}
body{
	overflow: visible;
}	
#signbox{
	position:fixed;
	display:none;
	top: 50%;
    left: 50%;
    margin-top: -110px;
    margin-left: -200px;
    width: 400px; 
    height: 220px;
	z-index: 120;
    opacity: 1 !important;

    background:rgba(200,200,200,0.7);
    border-radius:8px;
    border: 1px solid #ccd;
    box-shadow: 0 4px 10px #ccd;
}

hr{
	width:80%;
}
.h1{
	text-align: left;
    margin: 20px 0 -37px 30px;
    display: block;
    font-weight: 900 !important;
    font-size: 25px;
    color: white;
}
.row{
	width:100%;
	
}

label.iconforEmail:before{
font-family: FontAwesome;
content:"\f003";
color: #fff;	
position:absolute;
font-size: 14px;
margin-left: -1px;
}
label.iconforPassword:before{
position:absolute;
font-family: FontAwesome;
content:"\f023";
color: #fff;
font-size: 17px;
margin-left:1px;
}

label.iconforRadio-1:before{
font-family: FontAwesome;
content:"\f111  ";
color:#1C86EE;
left:50px;
top:58.4%;
position:absolute;
opacity:1;
}
label.iconforRadio-2:before{
font-family: FontAwesome;
content:"\f111  ";
color:#1C86EE;
left:172px;
top:58.4%;
opacity:1;
position:absolute;
}
label.iconforRadio-1:after{
font-family: FontAwesome;
content:"\f058";
left:50px;
top:58.4%;
opacity:0;
color:#1C86EE;
position:absolute;
}
label.iconforRadio-2:after{
font-family: FontAwesome;
content:"\f058";
left:172px;
top:58.4%;
opacity:0;
color:#1C86EE;
position:absolute;
}
#l1,#l2,#l3,#l4,#l5{
	display:inline-block;
}
#l3,#l4{
	cursor:pointer;
}
input[type=checkbox]{
	visibility:hidden;
}
input[type=checkbox]:checked + label:after {
	opacity: 0;
}
input[type=checkbox]:checked + label:before{
	opacity: 1;
}
#butid{
	padding:8px 25px 0 68%;
	margin:-43px 0 0 -4px;
	height:40px;
	color:white;
	width:100%;
	position: relative;
}
input[type=submit]{
	width:100%;
    background:#000;
    border-radius: 8px;
    box-shadow: 0 0 8px;
    margin: 0 auto;
}
.button{

	background:#1C86EE;
	width:25%;
	height:20px;
	text-decoration: none;
	border-radius:8px;
	padding:10px 25px 10px 25px;
	
}

#buttonid1{
box-shadow: inset 0 -4px 1px #1F66FF;
}


input[type=email]{
	width:300px;
	padding:0;
	margin:0;
}
input[type=password]{
	width:300px;
	padding:0;
	margin:0;
}
input[type=text]{
	width:188px;
	padding:0;
	margin:0;
}
#error-1,#error-2,#error-3{
	color: #D01F25;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size:10px;
	display:none;
	text-align: left;
}
#enter{
	visibility: hidden;
}
#SignRow{
	width:100%;
	margin:20px auto 20px auto;
	padding:0 45px 0 32px;
}
#Email{	
width:100%;
}
.wrap{
    display:block;
	width:85%;
	margin:0 auto 0 auto;
}
.account{
	margin-top:40px;
    margin-bottom: 10px;

}
#mail,#password,#address{
    margin-top:3px;
    margin-bottom:3px;
	height:30px;
}
#SignIn,#SignUp{
	width:10%;
}
#l3,#l4{
	width:30%;
}
#l1,#l2{
	height: 13%;
	width: 25px;
	margin-bottom: -8px;
	background:#1C86EE;
	padding:6px;
	border-radius:10px 0 0 10px;
	margin-right:-2px;
	padding-bottom:8px;
}

.rememberMe{
	padding-right:55px;
	
	
	margin-left:42px;
	width:200px;
	height:270px;
	color:white;
	z-index: 99999;
}
.rememberMeCheck{
	
}
label.rememberMe:before{
font-family: FontAwesome;
content:"\f046";
left:30px;
z-index: 99999;
opacity:0;
color:#1C86EE;
position:absolute;
}
label.rememberMe:after{
font-family: FontAwesome;
content:"\f096";
left:30px;
z-index: 99999;
opacity:1;
color:#1C86EE;
position:absolute;	
}
#procent{
	background:green;
	
top:100%;
}
