*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body{
	background-color:rgb(255,255,255);
	margin:0;
	overflow: visible;

}

img{
	display: block;
	margin:-64px auto 0 auto;
	position: relative; 
    z-index: 5000;
}
a{
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	font-size:20px;
}
p{
	position:relative;
    z-index: 0;
    min-width:700px;
}
.bold{
	font-weight: bold;
}
.imgframe{
	margin-top: 134px;
	margin-bottom: 70px;
	
	

	/*pointer-events:none;*/
}
.imgframe img{
	max-width: 100%;
	min-width: 700px;
}
.rightimg{
	margin-bottom: 0px;
}
.rightimg img{
	float:right;

}

.footer2{
	padding-top: 140px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: white;
}
.logo{

    float:left;
    width:15%;
    height: 100%;
    position:relative;
}

.col:hover{
	background: linear-gradient(rgb(255,255,255),#1C86EE), linear-gradient(#1C86EE,rgb(255,255,255));
	/*background: -webkit-radial-gradient(30px 5px, cover,#1C86EE, rgb(220,220,220));
	background: -ms-radial-gradient(30px 20px, cover,#1C86EE, rgb(160,160,160));*/
	box-shadow: 0 0 0 2px white;
            
 opacity:0.9;
     }
.blackout{
	position:absolute;
	width:100%;
	height:2000px;
	margin-top:-500px;
	background: #778899;
	z-index: 110;
	display: none;
    background:rgba(10, 10, 10, 0.5);

}

#form0{
font-size:17px !important;
color:black;
position: fixed;
top: 50%;
    left: 50%;
-webkit-animation: expandForm 0.6s ease-out;
  	animation: expandForm 0.6s ease-out;
}

#form{
	font-size:17px !important;
	color:black;
position: fixed;
top: 50%;
    left: 50%;
    	opacity: 0;
	-webkit-transform: translate3d(0,-25px,0);
	transform: translate3d(0,-25px,0);

}
#form2{
	font-size:17px !important;
    color:black;
    
   -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	opacity: 1;
	-webkit-transition: none;
	transition: none;

	
}
#closeTab:after{
	font-family: FontAwesome;
	color:white;
	font-size:25px;
	display: block;
	font-weight: 900;
	content:"\f057";
	left:365px;
	top:8px;
    position:absolute;
}

.header{
	height: 87px;
    width:100%;
   background:#1C86EE;
}
#above-header{
	width: 100%;
	height: 70px;


}
.whitewrap{
	padding-top: 100px;
    width: 100%;
	background: #fff;
	
	margin-bottom: 207px;

}
.bordercol{
width:10%;
}
.bordercolbot{
width:20%;
float:left;
height: 87px;
}
.col{
	text-align:center;
	line-height: 87px;
}
.colbot{
    text-align:center;
	line-height: 87px;
    width:20% !important;
    margin:0 !important;
    float:left;
}
.logo, .col{
	width:16%;
    

}
.col,.bordercol{
	height: 87px;



}


.col,.logo,.bordercol{
	float:left;
}
.main{
	width:100%;
    margin-bottom: 207px;
    background: transparent;
    
}

.languageBlock{
	width:100%;

	background:#ccc;
}
#english{
	top:150px;
display:none;
position: absolute;
height:30px;
width:15%;
background: #ccc;
}
#russian{
	top:180px;
display:none;
position: absolute;
height:30px;
width:15%;
background: #ccc;
}
.content{
	float:center;
	background:#ffffff;
	padding-right:8%;
	padding-left:8%;
	padding-top: 200px;
	padding-bottom: 30px;
	text-align:justify;
	z-index: -100000;
	min-height: 400px;
}

#contacts{
	margin-left: 50px;
}

#languageCol{
padding:0px;
}
#languageBlockStart{
padding:40px;  
background:#1C86EE;
height: 100px;
-webkit-transition: 1s linear; 
-moz-transition: 1s linear; 
-ms-transition: 1s linear; 
-o-transition: 1s linear; 
transition:1s linear; 
opacity:1;
}
.languageBlockFinish{			
width:15%;
height: 300px !important;
position:absolute;
opacity:1.0 !important;

}
.cs-select{
	height: 87px !important;

}
.cs-options{
 width:15%;

 opacity:0.9 !important;
 margin-top:2px;
 padding:0 !important;

}
.cs-options li{
	margin-bottom:2px;
	background-color: white !important;
	color:#fff !important;

}
span{
	padding-top:0px !important;
	padding-bottom:0px !important;
}

.cs-placeholder {
padding:0 0 0 20px !important;
color:#fff !important;

}
.cs-skin-elastic{
	font-size:20px !important;


}
.cs-skin-elastic span{
	background-color:#1C86EE;
	color: #000;
}
span{
	background-color:transparent !important;

}

section{
	padding:0;
}

#footer {
	height: 207px;
	position:fixed;
	bottom:0;
	background: white;	
    border-top:1px  solid #1C86EE;
	width:100%;
	z-index:-1;
	background: #1C86EE;
}
#LogBot{
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	font-size:20px;
}

@-webkit-keyframes expandForm { 	
	0% { -webkit-transform: scale3d(1,0,1); }	
	25% { -webkit-transform: scale3d(1,0.75,1);}
	50% { -webkit-transform: scale3d(1,0.95,1); }
	75% { -webkit-transform: scale3d(1,1,1); }
	100% { -webkit-transform: scale3d(1,1,1); }
}
@keyframes expandForm { 
	0% { -webkit-transform: scale3d(1,0,1); transform: scale3d(1,0,1); }
	25% { -webkit-transform: scale3d(1,0.75,1); transform: scale3d(1,0.75,1); }
	50% { -webkit-transform: scale3d(1,0.95,1); transform: scale3d(1,0.95,1); }
	75% { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
	100% { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}
 @media screen and (max-width: 1270px) {
     .logo{
     	width:25%;
     }
     .bordercol{
     	width: 5%;
     }
     .col{
     	width:16.25%;
     }
   }
 @media screen and (max-width: 850px) {
     .logo{
     	width:25%;
     }
     .logo img{
     margin-top: -30px; 
     width: 141px;	

     }
     .bordercol{
     	width: 0%;
     }
     .col{
     	width:18.75%;
     }
   }
  @media screen and (max-width: 700px){
  	.content{
  		padding-left: 5px;
  		padding-right: 5px;
  	}
  }