{% extends 'admin.html.twig' %}

{% block content %}
	form_start(form)
	form_row(form.username)
	form_row(form.password)
	form_row(form.email)
	form_row(form.form)
	form_row(form.address)
	form_row(form.isActive)
	form_row(form.role)
	form_row(form.file)
	form_end(form)

{% endblock %}