{% if (users_found and pages_found) or (users_found and files_found) or (files_found and pages_found) %}
{# "Add" button should not be in template with list of searching results #}
	{% form_row(form_delete_update_add.delete, 'attr': {'id':'deletebtn', 'class':'btn btn-primary btn-sm'}) %}
	{% form_row(form_delete_update_add.update, 'attr': {'id':'updatebtn', 'class':'btn btn-primary btn-sm'}) %}
{% else %}
	{% form_row(form_delete_update_add.add, 'attr': {'id':'addbtn', 'class':'btn btn-primary'}) %}
	{% form_row(form_delete_update_add.delete, 'attr': {'id':'deletebtn', 'class':'btn btn-primary'}) %}
	{% form_row(form_delete_update_add.update, 'attr': {'id':'updatebtn', 'class':'btn btn-primary'}) %}
{% endif %}