<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<title>Admin Dashboard</title>
	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/bootstrap/css/bootstrap.min.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/css/Admins.css') }}"/>
	{% endblock %}

</head>
<body>
	<input type="button" id="menu-btn" data-toggle="collapse" data-target="#admin-menu">
			</input>
<div class="wrap">
	<div class="topbar">
		<div class="menu col-md-2">
			
			<label class="glyphicon glyphicon-btn glyphicon-menu-hamburger" for="menu-btn" aria-hidden="true"><span class="dash-btn">Dashboard</span>
			</label>
			<label class="admin-title">{% block admin-title %}{% endblock %}</label>
			<div class="search">
				{{render(controller('SibneuroSiteBundle:Admin:searchForm'))}}
			</div>
		</div>
	</div>









    

<div class="row">
<div class="collapse  width" id ="admin-menu">	
	<div class="test" >
		
		<ul class="nav-custom nav">
			<li><a href="/admin/users">Users</a></li>
       		<li><a href="/admin/pages">Pages</a></li>
       		<li><a href="/admin/calendar">Calendar</a></li>
       		<li><a href="/admin/files">Files</a></li>
       		<li><a href="/admin/statisctics">Statisctics</a></li>
		</ul>
	</div>
       
            
        
    </div>


<div class="rightbar-content">
	{% block request_status %}
	{{request_status}}
	{% endblock %}
	{% block content %}
	{% endblock %}
    </div>
<div class="botbar">

   </div>

</div>
	{% block javascripts %}
		<script src="{{ asset('bundles/sibneurosite/bootstrap/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('http://code.jquery.com/jquery-1.11.2.min.js') }}"></script>
	{% endblock %}
</body>
</html>