{% extends 'admin.html.twig' %}

{% block title %}

{% {{title}} %}

{% endblock %}
{% block request_status %}

{{message_not_found}}

{% endblock %}
{% block content %}
form_start(check_form, {'action': path('sibneuro_site_addDeleteUpdate'), 'method': 'POST', 'attr'{
'id': 'check_form'}}) 
	{% if pages_found is defined %}
<table class="table table-condensed">
	<thead>
		<tr>
			<th></th>
			<th>Page id</th>				
			<th>Page name</th>	
			<th>Page content</th>	
			<th>Created by</th>	
			<th>Created at</th>	
			<th>Last updated by</th>	
			<th>Last update</th>	
		</tr>
	</thead>
	<tbody>
		{% for pages_array in pages_found %}
			{% for page in pages_array %}
		<tr>
			<td>
				form_row(check_form.check_pages[], {'attr'{'value': {{page.id}}}})
			<!--	<input type="checkbox" name="check_pages[]" value="{{page.id}}"> -->
			</td>
			<td>{{page.id}}</td>
			<td>{{page.pgname}}</td>
			<td>{{page.pgcontent[0:30]}}</td>
			<td>{{page.createdBy}}</td>
			<td>{{page.createdAt}}</td>
			<td>{{page.updatedBy}}</td>
			<td>{{page.updatedAt}}</td>
		</tr>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>
	{% endif %}
	{% if users_found is defined %}
<table class="table table-condensed">
	<thead>
		<tr>
			<th></th>
			<th>User id</th>				
			<th>Username</th>	
			<th>Password</th>	
			<th>Email</th>	
			<th>Fullname</th>	
			<th>Contacts</th>	
			<th>Created at</th>
			<th>Active</th>
			<th>Avatar</th>	
		</tr>
	</thead>
	<tbody>
		{% for users_array in users_found %}
			{% for user in users_array %}
		<tr>
			<td>
				form_row(check_form.check_users[], {'attr'{'value': {{user.id}}}})
			<!--	<input type="checkbox" name="check_users[]" value="{{user.id}}"></td> -->
			<td>{{user.id}}</td>
			<td>{{user.username}}</td>
			<td>{{user.password}}</td>
			<td>{{user.email}}</td>
			<td>{{user.fullname}}</td>
			<td>{{user.contacts}}</td>
			<td>{{user.acess_level}}</td>
			<td>{{user.created}}</td>
			<td>{{user.isactive}}</td>
			<td>{{user.avatar_href}}</td>
		</tr>
			{% endfor %}
		{% endfor %}
	{% endif %}
}
	</tbody>	
</table>
form_end(check_form) 
{% endblock %}
{% block botbar %}
{{render(controller('SibneuroSiteBundle:Admin:addDeleteUpdate'))}}
{% endblock %}