{% extends '::styles.html.twig' %}
{% block body %}

        {% if error %}
            <div class="error">{{ error.message }}</div>
        {% endif %}
  
        <div class="blackout" id="blackout">
   <div class="cs-skin-elastic" id="form0">         
<div class="cs-skin-elastic" id="form">

<div id="signbox">
<form action="{{ path('project_users_login') }}" id = "actionform" method="post" height = "50%">

  <!--0.57-->
<div class="h1">Sign up</div>
<div id="closeTab"></div>
  <div class="account">

    <div class="Login close" id="loginClose"></div>
   
    <div class="row" id="Email">
    <div class="wrap">
      <label id="l1" for="mail"<i class="iconforEmail"></i></label>
    <input type='email' id='mail' name='email' placeholder='Email'>
      
      
      
    </div>
    </div>
    <div class="row">
    <div class="wrap">
      <label id="l2" for="password" <i class="iconforName"></i></label>
      <input type='password' id='password' name='password' placeholder='Password'>
      
      
    </div>
    </div>
  </div>
        <input type="checkbox" name="remember" id="rememberMeCheck" value="y"   />
        <label class="rememberMe" for="rememberMeCheck">Remember me</label>
        
        
        <div class="row">
          
          <div class="but" id="butid">
            <input type="submit" id="enter"/> 
          
          <label class="button" for="enter" id="buttonid1">Sign in now</label>
            </div>
        </div>

</form>
</div>  


</div>
</div>
</div>

{% block javascripts %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sibneurosite/js/TemplateIndex.js') }}"/>

{% endblock %}


{#<form action="{{ path('project_user_reg_homepage') }}" method="post" {{ form_enctype(form) }}>
{{ form_errors(form) }}

{{ form_row(form.name)}}

{{ form_row(form.email)}}

<p><a href="http://localhost:8000/users">Show users</a></p>

{{ form_rest(form) }}
<input type="submit" />



</form>#}

{% endblock %}