

                {{ form_start(form_search, {'action': path('sibneuro_site_search'), 'method': 'GET'})) }}
					{{ form_errors(form_search) }}
					{{ form_row(form_search.search, {'attr': {'id': 'search-query'}}) }}
				{{ form_end(form_search) }}